<div class="wrapper">
  <div class="legend" *ngIf="showLegend">
    <span class="title">{{ wrapperTitle }}</span>
  </div>
  <div
    class="chartWrapper"
    [ngClass]="this.showData ? 'chartWrapperData' : 'chartWrapper'"
  >
    <div
      class="contentWrapper"
      [ngClass]="this.showData ? 'contentWrapperData' : 'contentWrapper'"
    >
      <ng-content></ng-content>
    </div>
    <div
      class="dataWrapper"
      *ngIf="this.showData"
      [ngClass]="
        this.chartData[0].length > 3 ? 'dataWrapper' : 'dataWrapperSmaller'
      "
    >
      <div class="data" *ngFor="let data of this.chartData[0]; let i = index">
        <div
          class="circle"
          [ngStyle]="{ 'background-color': this.chartData[1][i] }"
        ></div>
        <div class="dataSpan">
          <div class="name">{{ this.chartData[2][i] }}</div>
          <div class="percent">{{ data }}%</div>
        </div>
      </div>
    </div>
  </div>
</div>
