<div class="tableWrapper">
  <gigaaa-workdesk-table
    *ngIf="missedCallData.length !== 0"
    [tableData]="missedCallData"
    [tableSettings]="tableSettings"
  >
  </gigaaa-workdesk-table>
  <app-no-table-data *ngIf="missedCallData.length === 0"></app-no-table-data>
  <!-- <div class="paginationWrapper">
    <div class="leftPagination">
      <span class="paginationOptions">
        Page 1 o
      </span>
      <span class="paginationOptions">
        Page
      </span>

      <span class="paginationOptions">
        Show:
      </span>
      <select (change)="onTableSizeChange($event)" class="custom-select" [value]='this.pagination?.num'>
        <option *ngFor="let size of tableSizes" [value]="size.value" [selected]="size.selected">
          23
        </option>
      </select>
    </div>
    <div class="rightPagination">
      <gigaaa-pagination-controls previousLabel="" nextLabel="" [responsive]="true" [directionLinks]="true"
        (pageChange)="onTableDataChange($event)">
      </gigaaa-pagination-controls>
    </div>
  </div> -->
</div>
