.deviceSwitcherPanel {
  position: relative;
  width: 293px;
  height: 145px;
  background: #2b3a51;
  box-shadow: 3px 3px 10px rgb(0 0 0 / 23%);
  border-radius: 4px;
}

.deviceSwitcherWrapper {
  right: 50px;
  width: 293px;
  bottom: 65px;
  max-height: fit-content;
  min-height: fit-content;
  position: absolute;
  z-index: 1;
}

.deviceHeaderPanel {
  background: #2b3a51;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  height: 39px;
  display: flex;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.deviceIconHeading {
  display: inline-flex;
  height: fit-content;
  width: fit-content;
  padding: 5px;
}

.deviceHeader {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #ffffff;
  display: inline-flex;
  padding-left: 5px;
}

.deviceListItem {
  display: flex;
  height: 35px;
  width: 100%;
  transition: 0.4s;
  cursor: pointer;
}

.deviceListItem:hover {
  background: #243247;
}

.deviceSelectedIcon {
  display: inline-flex;
  height: 35px;
  width: 16px;
  padding-left: 14px;
}

.deviceName {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  width: 180px;
  font-size: 13px;
  line-height: 270%;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: left;
  padding-left: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.deviceListWrapper {
  overflow-y: overlay;
  height: 100px;
}

.deviceListWrapper::-webkit-scrollbar {
  width: 12px;
  height: 105px;
}

.deviceListWrapper::-webkit-scrollbar-thumb {
  background-color: #7a828e;
  border: 4px solid rgba(255, 255, 255, 0);
  box-sizing: border-box;
  border-radius: 6px;
  background-clip: padding-box;
  width: 8px;
  height: 32px;
}

.deviceListWrapper::-webkit-scrollbar-track {
  padding: 18px;
  width: 12px;
  background: transparent;
}
