.dashboardSection {
  padding-left: 30px;
  margin-bottom: 20px;
}

.dashboardHeading {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #162741;
}

::ng-deep .inPageWrapper .wrapper {
  height: fit-content;
  padding-bottom: 100px;
}

::ng-deep .cardWrap {
  height: 89px;
}

::ng-deep .cardTitleSpan {
  font-weight: 600 !important;
  font-size: 12px !important;
  line-height: 24px !important;
}

::ng-deep .cardTimeSpan {
  font-weight: 600 !important;
  font-size: 18px !important;
  line-height: 20px !important;
}

::ng-deep .cardWeekResult {
  height: 20px !important;
}

.inPageWrapper {
  margin-top: 2px;
}

.filterWrapper {
  padding: 30px 0;
  position: sticky;
  display: flex;
  background: #fefeff;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  margin-right: 0px;
  top: 0px;
}

::ng-deep .filterWrapper .leftFilter .dropdownWrapper .selectDropdown {
  background: #ededf6;
  border: none;
}

::ng-deep .searchWrap {
  justify-content: flex-end;
}

// ::ng-deep .filterWrapper .leftFilter .dropdownWrapper {
//   padding-left: 30px;
// }

::ng-deep .filterWrapper .rightFilter .dropdownWrapper,
::ng-deep .filterWrapper .leftFilter .dropdownWrapper {
  max-width: 200px !important;
}

.leftFilter {
  width: 30%;
  text-align: left;
  display: inline-block;
}

.rightFilterWrapper {
  width: 70%;
  text-align: right;
  display: inline-flex;
  justify-content: flex-end;
  padding-right: 60px;
}

.rightFilter {
  width: fit-content;
  position: relative;
  display: inline-flex;
}

.multiSelectWrapper {
  width: 200px;
  margin-right: 10px;
  position: relative;
}

.multiSelectWrapper.calendar {
  margin-right: 0px;
}

.calendarLocationLanguage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 11px;
  background: #ffffff;
  border: 1px solid rgba(208, 208, 222, 0.6);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

::ng-deep .calendarLocationLanguage .md-drppicker {
  right: 0 !important;
  top: 120% !important;
  left: auto !important;
  width: max-content !important;
}

::ng-deep .md-drppicker table {
  border: none !important;
  box-shadow: none !important;
}

::ng-deep .calendarLocationLanguage .md-drppicker .ranges {
  height: 407px;
}

.calendarSelectMenu {
  height: 34px;
  width: 100%;
  cursor: pointer;

  input {
    cursor: pointer;
    border: none;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #162741cc;
  }
}

.filterArrow {
  margin-left: 10px;
}

.filterArrowRotate {
  transform: rotate(180deg);
  transition: all 0.3s;
}

.cardWrapper {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 32%;
}

.chartWrapper {
  background: #ffffff;
  border: 1px solid rgba(208, 208, 222, 0.6);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 328px;
}

.chartWrapper:last-child {
  margin-bottom: 20px;
}

.titleWrap {
  height: 48px;
  padding-left: 23px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(208, 208, 222, 0.6);
  color: #16274199;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
}

.cardTitle {
  font-weight: 600;
}

.chart {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  height: 222px;
  padding-left: 27px;
  padding-right: 40px;
  margin-top: 46px;

  canvas {
    width: 100% !important;
  }
}

@media only screen and (max-width: 1000px) {
  .cardWrapper {
    display: block;
  }

  .card {
    width: 100%;
    margin-bottom: 20px;
  }
}

.modalContent {
  display: flex;
  justify-content: space-around;
}