<div class="cardWrap">
  <div
    class="cardImage"
    [ngStyle]="{ 'background-color': this.cardData.color }"
  >
    <img [src]="cardData.icon" alt="" />
  </div>
  <div class="cardText">
    <div class="cardTitle">
      <span class="cardTitleSpan">{{ cardData.title }}</span>
    </div>
    <div class="cardTime">
      <span class="cardTimeSpan">{{ cardData.mainResult }}</span>
    </div>
    <div class="cardWeekResult" *ngIf="cardData.secondResultText">
      <img
        *ngIf="cardData.secondResultNumber > 0"
        class="arrowImg"
        [src]="iconArrowUp"
        alt=""
      />
      <img
        *ngIf="cardData.secondResultNumber < 0"
        class="arrowImg"
        [src]="iconArrowDown"
        alt=""
      />
      <span class="weekResult">{{ cardData.secondResultNumber }}</span>
      <span class="weekResult">{{ cardData.secondResultText }}</span>
    </div>
  </div>
</div>
