.callControlsWrapper {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.screeenShareRestrictionPanel {
  width: 100%;
  margin-bottom: 12px;
}

.mainCallWrapper {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 20;
}

.dragArea {
  height: calc(100% - 78px);
}

@media only screen and (max-width: 480px) {
  .dragArea {
    height: calc(100% - 142px);
  }

  .mainCallWrapper {
    width: 100% !important;
    height: inherit;
  }
}
