<app-page-wrapper>
  <div class="filterWrapper">
    <div class="leftFilter">
      <div class="multiSelectWrapper activity">
        <app-one-select-dropdown
          [oneSelectData]="oneSelectData"
          (oneSelectOutput)="agentTypeOutput($event)"
        >
        </app-one-select-dropdown>
      </div>
    </div>
    <div class="rightFilter">
      <div class="multiSelectWrapper languauge">
        <app-multi-select-dropdown
          [multiSelectData]="languauges"
          (multiSelectOutput)="langugaOutput($event)"
        >
        </app-multi-select-dropdown>
      </div>
      <div class="multiSelectWrapper callType">
        <app-search-input-field
          [searchInputData]="searchInputData"
        ></app-search-input-field>
      </div>
      <div class="multiSelectWrapper">
        <gigaaa-button
          (click)="showInviteModal()"
          [buttonData]="buttonData"
        ></gigaaa-button>
      </div>
    </div>
  </div>
  <div class="tableWrapper">
    <gigaaa-workdesk-table
      [tableData]="agentdata"
      [tableSettings]="tableSetting"
      (agentSetting)="getSettingsPage($event)"
    >
    </gigaaa-workdesk-table>
    <app-no-table-data *ngIf="agentdata.length === 0"></app-no-table-data>
  </div>
</app-page-wrapper>

<app-modal-wrapper
  (closeModal)="onCloseAgentInvite($event)"
  [modalData]="addAgentModelData"
  *ngIf="showInviteModel"
>
  <app-add-agent></app-add-agent>
</app-modal-wrapper>
