::ng-deep .filterWrapper>.leftFilter .dropdownWrapper .selectDropdown {
  background: #ededf6 !important;
  border: none;
}

::ng-deep .button {
  min-height: 34px !important;
}

.filterWrapper {
  display: block;
  padding: 30px 0;
}

.leftFilter {
  width: 40%;
  display: inline-flex;
}


.rightFilter {
  width: 60%;
  display: inline-flex;
  text-align: right;
  justify-content: end;
}

.multiSelectWrapper {
  max-width: 200px;
  display: inline-block;
  vertical-align: middle;
}

.indicatorWrapper {
  display: inline-flex;
  width: 167.71px;
}

.multiSelectWrapper.activity {
  display: inline-block;
  width: 200px;
  margin-right: 10px;
}

.multiSelectWrapper.search {
  width: 245px;
  margin-right: 10px;
}

.callType {
  width: 150px;
  margin-right: 10px;
}

.languauge {
  width: 165px;
  margin-right: 10px;
}

::ng-deep .tableWrapper .tableWrap {
  padding: 0 !important;
}

::ng-deep .tableWrapper .tableWrap table {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

::ng-deep .tableWrapper .tableWrap .table thead tr th:first-child,
::ng-deep .tableWrapper .tableWrap .table tbody tr td:first-child {
  text-align: left !important;
}