::ng-deep .filterWrapper > .leftFilter .dropdownWrapper .selectDropdown {
  background: #ededf6 !important;
  border: none;
}

.filterWrapper {
  display: block;
  padding: 30px 0;
}

.leftFilter {
  width: 30%;
  display: inline-block;
}

.rightFilter {
  width: 70%;
  display: inline-block;
  text-align: right;
}

.multiSelectWrapper {
  max-width: 200px;
  display: inline-block;
  vertical-align: middle;
}

.multiSelectWrapper.activity {
  display: block;
}

.callType {
  width: 150px;
  margin-right: 10px;
}

.languauge {
  width: 165px;
  margin-right: 10px;
}

::ng-deep .tableWrapper .tableWrap {
  padding: 0 !important;
}

::ng-deep .tableWrapper .tableWrap table {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

::ng-deep .tableWrapper .tableWrap .table thead tr th:first-child,
::ng-deep .tableWrapper .tableWrap .table tbody tr td:first-child {
  text-align: left !important;
}
