.searchWrap {
  display: flex;
  align-items: center;
}

.searchLabel {
  width: 230px;
  height: 34px;
  margin: 0;
  background: #ffffff;
  border: 1px solid rgba(208, 208, 222, 0.6);
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 0 8px;
}
.searchLabel-border {
  width: 230px;
  height: 24px;
  margin: 0;
  background: #ffffff;
  border: 0;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.searchIcon {
  margin-right: 10px;
}
.searchInput {
  width: 100%;
  margin: 0;
  border: none;
  padding: 0;
  color: #162741;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 120%;
}

.searchInput::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 120%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #7d8696;
}
