<form
  name="form"
  class="grid-x"
  [formGroup]="form"
  (ngSubmit)="updatepasssword()"
>
  <div class="passwordpanel">
    <div class="buttonpanel">
      <label for="" class="labal"> Current Password </label>
      <input
        formControlName="oldpassword"
        [type]="passType"
        spellcheck="false"
        class="form_input"
        required
      />
      <span class="passwordtoggle" (click)="changePasswordType('current')"
        ><img class="agencyicon" [src]="srcpass1"
      /></span>
    </div>
    <div class="buttonpanel">
      <label for="" class="labal"> New Password </label>
      <input
        formControlName="newpassword"
        [type]="passType1"
        spellcheck="false"
        class="form_input"
        required
      />
      <span class="passwordtoggle" (click)="changePasswordType('new')"
        ><img class="agencyicon" [src]="srcpass2"
      /></span>
    </div>
    <div class="buttonpanel">
      <label for="" class="labal"> Confirm New password </label>
      <input
        formControlName="confirmpassword"
        [type]="passType2"
        spellcheck="false"
        class="form_input"
        required
      />
      <span class="passwordtoggle" (click)="changePasswordType('new_current')"
        ><img class="agencyicon" [src]="srcpass3"
      /></span>
    </div>
    <div class="actionButtonPanel">
      <div class="cancelPanel">
        <button class="cancel">Cancel</button>
      </div>
      <div class="savePanel">
        <button class="save">Change</button>
      </div>
    </div>
  </div>
</form>
