input {
  height: 28px;
  background: #ffffff;
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  transition: 0.4s;
  align-items: center;
  letter-spacing: 0.02em;
  color: #162741;
  border: 1.4px solid #52a3dd;
}

.input-filled:focus-visible {
  border: 1.4px solid #52a3dd;
}

.input-error {
  border: #ff155a 1.4px solid;
}
