input {
    height: 28px;
    background: #FFFFFF;
    border: 1px solid rgba(208, 208, 222, 0.6);
    border-radius: 4px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    transition: 0.4s;
    align-items: center;
    width: inherit;
    letter-spacing: 0.02em;
    color: #162741;

}

.input-filled:focus-visible {
    border: 1.4px solid #52A3DD;
}

.input-error {
    border: #FF155A 1.4px solid;
}