<div
  miniCameraVideoStream
  [ngStyle]="
    agentOperationInformation.isMinimize
      ? minimizeMiniCameraScreenData
      : normalMiniCameraScreenData
  "
  class="miniCameraScreen"
  [hidden]="!PeerMiniCameraDetails.showSplitIncon"
>
  <div
    [ngStyle]="
      agentOperationInformation.isMinimize
        ? minimizeMiniCameraScreenInitialsData
        : normalMinimizeCameraScreenInitialsData
    "
    *ngIf="PeerMiniCameraDetails.showInitals"
    class="peerMiniCameraInitials"
  >
    {{ this.firtName | nameInitials: this.lastName }}
  </div>
  <div
    [ngStyle]="
      agentOperationInformation.isMinimize
        ? miniCameraFullNameData
        : normalMiniCameraFullNameData
    "
    *ngIf="PeerMiniCameraDetails.showInitals"
    class="peerMiniCameraName"
  >
    {{ this.firtName }} (me)
  </div>

  <video
    [ngStyle]="
      agentOperationInformation.isMinimize
        ? minimizeMiniCameraScreenData
        : normalMiniCameraScreenData
    "
    [hidden]="!PeerMiniCameraDetails.showCamera"
    class="miniVideoCamera"
    #localVideo
    id="localVideo"
    [autoplay]="true"
    playsInline
    type="video/mp4"
    [muted]="true"
  ></video>
  <div
    [ngStyle]="
      agentOperationInformation.isMinimize
        ? minimizeSplitIconData
        : normalSplitIconData
    "
    (click)="splitScreen(PeerMiniCameraDetails.showSplitIncon)"
    class="splitScreenIcons"
  >
    <img
      [style.margin]="agentOperationInformation.isMinimize ? '6px' : '9px'"
      style="margin: 9px"
      src="../../../assets/images/callInterface/splitscreen.svg"
      alt=""
    />
  </div>
  <div
    class="reventCameraIcon"
    *ngIf="
      PeerMiniCameraDetails.showRevertCamerIcon &&
      PeerMiniCameraDetails.isMobile
    "
  >
    <img
      style="margin: 9px"
      src="../../../assets/images/callInterface/revertcamera.svg"
      alt=""
    />
  </div>
</div>
