.miniCameraScreen {
  width: 226px;
  height: 144px;
  background: #2b3a51;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  cursor: grab;
}

.miniVideoCamera {
  width: 226px;
  height: 144px;
  border-radius: 3px;
  margin: 0 auto;
  object-fit: cover;
  z-index: 1;
  position: absolute;
}

.peerMiniCameraName {
  position: absolute;
  width: 100%;
  bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  z-index: 1;
}

.peerMiniCameraInitials {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 18px;
  align-items: center;
  bottom: 63px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  width: 100%;
  z-index: 1;
}

.splitScreenIcons {
  border-radius: 50%;
  background: rgba(22, 39, 65, 0.75);
  bottom: 0;
  position: absolute;
  width: 35px;
  height: 35px;
  right: 0;
  margin: 7px;
  transition: 0.3s;
  cursor: pointer;
  z-index: 3;
}

.reventCameraIcon {
  border-radius: 50%;
  background: rgba(22, 39, 65, 0.75);
  top: 0;
  position: absolute;
  width: 35px;
  height: 35px;
  right: 0;
  margin: 7px;
}

@media only screen and (max-width: 768px) {
  .miniCameraScreen {
    height: 164px !important;
    width: 140px !important;
  }

  .miniVideoCamera {
    height: 164px !important;
    width: 140px !important;
  }

  .peerMiniCameraInitials {
    bottom: 80px !important;
  }

  .peerMiniCameraName {
    bottom: 44px !important;
  }
}
