.filterWrapper {
    position: sticky;
    display: flex;
    background: #fefeff;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 0px;
    top: 0px;
    justify-content: space-between;
}

::ng-deep .filterWrapper .leftFilter.tickets .dropdownWrapper .selectDropdown {
    background: #FFFFFF;
    border: 1px solid rgba(208, 208, 222, .6);
}

::ng-deep .card .cardTitleSpan {
    text-transform: none !important;
}

// ::ng-deep .filterWrapper .leftFilter .dropdownWrapper {
//   padding-left: 30px;
// }
// ::ng-deep .searchWrap {
//     margin-right: 10px;
// }
.rightFilter .multiSelectWrapper.assign .assignAgentWrapper {
    position: absolute;
    right: 30px;
    width: inherit;
    height: inherit;
    top: 4px;
}

::ng-deep .filterWrapper .rightFilter .dropdownWrapper,
::ng-deep .filterWrapper .leftFilter .dropdownWrapper {
    max-width: 200px !important;
}

.leftFilter {
    width: 25%;
    text-align: left;
    display: inline-block;
}

.rightFilterWrapper {
    width: 70%;
    text-align: right;
    display: inline-flex;
    justify-content: flex-end;
}

.rightFilter {
    width: 75%;
    position: relative;
    display: inline-flex;
    justify-content: flex-end;
}

.multiSelectWrapper {
    margin-right: 10px;
    position: relative;
}

.multiSelectWrapper.search {
    margin-right: 10px;
}

.multiSelectWrapper.addButton {
    margin-right: 0px;
}

.multiSelectWrapper.assign {
    width: 170px;
}

::ng-deep .rightFilter .multiSelectWrapper.assign .dropdown {
    display: none;
}

.multiSelectWrapper.status {
    width: 117px;
}

.cardWrapper {
    display: flex;
    justify-content: flex-start;
    padding: 30px;
}

.card {
    width: 25%;
    margin-right: 10px;
}

::ng-deep .inPageWrapper .wrapper {
    height: fit-content;
    padding-bottom: 30px;
}

::ng-deep .cardWrap {
    height: 75px;
}

::ng-deep .cardTitleSpan {
    font-weight: 600 !important;
    font-size: 12px !important;
    line-height: 24px !important;
}

::ng-deep .cardTimeSpan {
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 20px !important;
}

::ng-deep .cardWeekResult {
    height: 20px !important;
}

.inPageWrapper {
    margin-top: 2px;
}

.addTicketsButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    width: 103px;
    height: 35px;
    background: #1C54DB;
    border-radius: 4px;
    outline: none;
    color: #ffffff;
    border: none;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
}

button.addTicketsButton[disabled] {
    background: #ECECF3;
    border-radius: 4px;
}

.tableWrapper {
    margin-bottom: 75px;
    margin-top: 30px;
}

table {
    width: 100%;
    border: 1px solid rgba(208, 208, 222, 0.6);
    box-sizing: border-box;
    background: white;
    border-collapse: collapse;
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-style: hidden;
    box-shadow: 0 0 0 1px rgba(208, 208, 222, 0.6);
    overflow: hidden;
}

th {
    font-size: 12px;
    color: #737D8D;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
}

td {
    cursor: pointer;
    color: #445167;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

thead tr {
    height: 55px;
    max-height: 55px;
    background: white;
    font-size: 16px;
    border-bottom: 1px solid #E3E3EB;

}

table tbody tr td {
    font-style: normal;
}

table tbody tr {
    transition: 0.5s;
}

tbody tr {
    height: 50px;
    max-height: 50px;
    border: 0 none;
    border-bottom: 1px solid #E3E3EB;
    transition: 0.4s;

}

table tbody tr:hover {
    background: #EDEDF6;
}


table thead tr th:nth-child(1) {
    text-align: left;
    padding-left: 24px;
}



table thead tr th:nth-child(2),
table thead tr th:nth-child(3),
table thead tr th:nth-child(4) {
    text-align: left;
}

table tbody tr td:nth-child(5) {
    display: flex;
    justify-content: center;
}

table tbody tr td:nth-child(6) {
    text-align: center;
}

table tbody tr td:nth-child(7) img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

table tbody tr td:nth-child(7)>div:hover div.closeIcon {
    display: inline-flex;
}


table tbody tr td:nth-child(7) div.closeIcon {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #162741;
    border: 1px solid #FFFFFF;
    display: none;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -5px;
    transition: 0.4s;
}

table tbody tr td:nth-child(7) {
    justify-content: center;
    display: flex;
    align-items: center;
}

table tbody tr td:nth-child(7) div {
    position: absolute;
    width: 30px;
    height: 30px;
    display: inline-flex;
}

table tbody tr td:nth-child(7) div.closeIcon img {
    width: 9px;
    height: 15px;
}


table tbody tr td:nth-child(1) span {
    margin-right: 10px;
    margin-right: 10px;
    color: #949CA8;
}

table tbody tr td:nth-child(4) img {
    margin-right: 10px;
    width: 18px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    vertical-align: inherit;
}

table tbody tr td:nth-child(3) {
    color: #162741;
    font-weight: 500;
}

table tbody tr td:nth-child(1) {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #162741;
    padding-left: 24px;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: inherit;
}

table tbody tr td:nth-child(7) div.closeIcon:hover {
    background: #1C54DB;
}

.banner {
    width: 95px;
    height: 25px;
    background: #FBC8D9;
    border-radius: 4px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FF155A;
    flex-wrap: nowrap;
    justify-content: center;
}