<div class="chatHeader">
    <div class="leftHeader">
        <img src="../../../assets/images/chatInterface/chat_header.svg" alt="">
        <div class="chatHeaderText">Chats</div>
    </div>
    <div class="rightHeader">
        <!-- <div class="minimizeIcon">
            <img style="vertical-align: middle;" src="../../../assets/images/callInterface/minimizeicon.svg" alt="">
        </div> -->
        <div class="closeIcon" (click)="close()">
            <img class="closebtn" src="../../../assets/images/chatInterface/close.svg" alt="">
        </div>
    </div>
</div>