.inputFields {
  width: 235px;
  left: 30px;
  top: 136px;
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
  border: 1px solid rgba(208, 208, 222, 0.6);
  border-radius: 4px;
  display: flex;
  padding: 0px;
  padding-left: 10px;
}

::ng-deep .modalWrapper .modal {
  padding: 0px !important;
}

::ng-deep .dropdown {
  z-index: 0;
}

::ng-deep .dropdown ul {
  max-height: 100px;
}

.agentListingContainer {
  display: block;
  height: 200px;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll
}

// .agentListingContainer::-webkit-scrollbar {
//   display: none;
// }


.inPageWrapper {
  padding: 0 0 0 30px;
  overflow-y: overlay;
}

::-webkit-scrollbar {
  width: 8px;
  padding: 0;
}

::-webkit-scrollbar-track {
  background: #ededf0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #616b7b;
  border-radius: 8px;
}

.agentTextFieldsWrapper {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.languageWrapper {
  width: 235px;
  margin-left: 20px;
  position: relative;
  height: 34px;
}

.addNewListing {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #1c54db;
  margin-top: 10px;
  height: 50px;
  margin-bottom: 22px;
  width: fit-content;
  cursor: pointer;
}

.removeAgentFromListing {
  display: inline-flex;
  padding: 9px 0px 9px 16px;
  cursor: pointer;
}

.agentFieldsWrapper {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.fieldLabel {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #162741;
  width: 236px;
  padding-right: 30px;
}

.sendAgentListingWrapper {
  position: absolute;
  width: 100%;
  display: flex;
  height: 95px;
  justify-content: flex-end;
  bottom: 0;
  background: white;
  box-shadow: 0px -1px 4px rgb(0 0 0 / 25%);
}

.sendAgentInvitedListing {
  width: 108px;
  height: 36px;
  font-family: "Roboto", sans-serif;
  background: #1c54db;
  border-radius: 4px;
  padding: 0px;
  text-align: center;
  border: none;
  position: relative;
  right: 0;
  bottom: 0;
  color: #ffffff;
  cursor: pointer;
  margin: 30px;
}