.inputFields {
  width: 240px;
  left: 30px;
  top: 136px;
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
  border: 1px solid rgba(208, 208, 222, 0.6);
  border-radius: 4px;
  display: flex;
  padding: 0px;
  padding-left: 10px;
}

::ng-deep .modalWrapper .modal {
  padding: 0px !important;
}

::ng-deep .dropdown {
  z-index: 0;
}

::ng-deep .dropdown ul {
  max-height: 100px;
}

.agentListingContainer {
  display: block;
  height: 480px;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden
}

.agentListWrapper {
  height: 275px;
  padding: 30px 0 0px 30px;
  overflow-y: scroll;
}

.agentTitle {

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;

  color: #162741;

}

.agentdescp {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #616B7B;
  margin-top: 15px;
}

.inPageWrapper {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 30px;
}

::-webkit-scrollbar {
  width: 8px;
  padding: 0;
}

::-webkit-scrollbar-track {
  background: #ededf0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #616b7b;
  border-radius: 8px;
}

.agentTextFieldsWrapper {
  display: flex;
  margin-bottom: 15px;
  padding: 0px 30px 0px 30px;
}

.languageWrapper {
  width: 150px;
  margin-left: 20px;
  position: relative;
  height: 34px;
}

.addNewListing {
  width: 32px;
  height: 32px;
  background: #D8D8F5;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.removeAgentFromListing {
  display: inline-flex;
  padding: 9px 0px 9px 16px;
  cursor: pointer;
}

.agentFieldsWrapper {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.fieldLabel {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #162741;
  width: 236px;
  padding-right: 30px;
}

.sendAgentListingWrapper {
  position: absolute;
  width: 100%;
  display: flex;
  height: 95px;
  justify-content: flex-end;
  bottom: 0;
  background: #FFFFFF;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25);
}

.sendAgentInvitedListing {
  width: 108px;
  height: 36px;
  font-family: "Roboto", sans-serif;
  background: #1c54db;
  border-radius: 4px;
  padding: 0px;
  text-align: center;
  border: none;
  position: relative;
  right: 0;
  bottom: 0;
  color: #ffffff;
  cursor: pointer;
  margin: 30px;
}

.agentInvitationList {
  width: 100%;
  height: 335px;
  margin-top: 15px;
}

.inivationCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  background: #FFFFFF;
  border: 1px solid #E3E3EB;
  border-radius: 4px;
  width: 421px;
  height: 61px;
  cursor: pointer;
  transition: 0.4s;
  margin-bottom: 15px;
}

.invitationCardInfo {
  width: 80%;
}

.removeCard {
  width: 20%;
  display: inline-flex;
  justify-content: flex-end;
}

.flagWrapper {
  display: flex;
}

.flagWrapper img {
  display: inline-flex;
  height: 18px;
  width: 18px;
  margin-right: 10px;
}

.email {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #162741;
}

.inivationCard:hover {
  background: #EDEDF6;
}