.typingWrapper {
    position: relative;
    width: calc(100% - 230px);
    bottom: 0;
    box-shadow: 2px 5px 8px rgb(114 114 157 / 16%);
    border-radius: 10px;
    background: radial-gradient(52.26% 436.29% at 2.4% -85.42%, rgba(28, 47, 219, 0.0552) 0%, rgba(28, 84, 219, 0) 100%), #EDEDF5;
    display: flex;
}

input {
    width: calc(100% - 172px);
    height: 72px;
    outline: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.02em;
    padding-left: 33px;
    padding-right: 80px;
    color: #7D8696;
    border: 1px solid rgba(255, 255, 255, 0.63);
    border-radius: 10px 0px 0px 10px;
    background: radial-gradient(52.26% 436.29% at 2.4% -85.42%, rgba(28, 47, 219, 0.0552) 0%, rgba(28, 84, 219, 0) 100%), #EDEDF5;
}

input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #7D8696;
}

.closeChatWrapper {
    position: relative;
    display: inline-flex;
    width: 172px;
    height: 73px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid rgba(255, 255, 255, 0.63);
}

.endChat {
    width: 77px;
    height: 37px;
    background: #FF155A;
    border-radius: 4px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    cursor: pointer;
}

.sendMessage {
    position: absolute;
    right: 180px;
    top: 26px;
    cursor: pointer;
}