.messageItem {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 27.5px;
}

.senderMessage {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    background: rgba(237, 237, 246, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.63);
    border-radius: 10px 10px 10px 0px;
    flex: none;
    height: fit-content;
    position: relative;
    order: 1;
    overflow-x: hidden;
    overflow-wrap: anywhere;
    flex-grow: 0;
    max-width: calc(100vw - 580px);
    padding: 10px;
    flex-direction: column;
    text-overflow: revert;
}

.userImage {
    width: 30px;
    height: 30px;
    background: rgba(212, 212, 238, 0.28);
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    display: inline-flex;
    margin-right: 10px;
}

.userImage img {
    border-radius: 50%;
}

.message {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    display: flex;
    color: #3B4C65;
}

.message.recv {
    color: #1C54DB;
}

.senderName {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #162741;
    flex: none;
    order: 0;
    flex-grow: 0;
    display: flex;
}

.recieveMessage {
    display: inline-flex;
    width: fit-content;
    justify-content: end;
    align-items: center;
    background: linear-gradient(90.59deg, rgba(28, 84, 219, 0.11) 30.57%, rgba(16, 148, 176, 0.16) 97.55%);
    border: 1px solid rgba(28, 84, 219, 0.18);
    border-radius: 10px 10px 0px 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
    padding: 10px;
    direction: ltr;
    overflow-x: hidden;
    overflow-wrap: anywhere;
    max-width: calc(100vw - 580px);

}

.senderPanel {
    display: flex;
    width: calc(100vw - 440px);
    justify-content: left;
    margin-bottom: 20px;
    align-items: flex-start;
}

.recieverPanel {
    display: flex;
    width: calc(100vw - 440px);
    margin-bottom: 20px;
    align-items: self-start;
    direction: rtl;
}

.userImage.recv {
    margin-left: 10px;
    margin-right: 0px;
}

.dividerPanel {
    justify-content: space-between;
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 25px;
}

.dividerBar {
    height: 0.5px;
    bottom: 396.5px;
    background: rgba(255, 255, 255, 0.88);
    width: 40%;
}

.dividerText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    text-align: center;
    letter-spacing: 0.02em;
    color: rgba(22, 39, 65, 0.72);
}

.scrollBottom {
    background: linear-gradient(145.49deg, #FFFFFF 13.81%, #D4DEF2 93.6%);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 2px 4px #c3d5ef;
    border-radius: 31px;
    position: fixed;
    width: 35px;
    height: 35px;
    bottom: 120px;
    right: 25px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}