.profileWrapper {
  display: flex;
  height: 100%;
}

.profileHeader {
  display: flex;
  width: 100%;
  align-items: center;
}

.leftHeader {
  display: inline-flex;
  width: 50%;
  justify-content: start;
}

.rightHeader {
  display: inline-flex;
  width: 50%;
  justify-content: flex-end;
}

.agentName {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 50px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #162741;
}

.agentInformation {
  display: block;
}

.agentImage {
  height: 85px;
  width: 60px;
  display: inline-flex;
}

.agentUserID {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.02em;
  color: #162741;
}

.agentUserID span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: right;
  letter-spacing: 0.02em;
  color: #6a7585;
}

.divider {
  height: 1px;
  width: 100%;
  background: #e1e1ea;
}

.formInformation {
  display: block;
}

.header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 305.19%;
  /* identical to box height, or 49px */

  display: flex;
  align-items: center;
  letter-spacing: 0.02em;

  color: #162741;
}

.inputWrapper {
  margin-right: 37px;
  margin-bottom: 10px;
}

.inputWrapper.textField {
  margin-bottom: 15px;
  margin-top: 10px;
}

input::-webkit-inner-spin-button {
  display: none;
}

.firstLastName {
  display: flex;
  align-items: center;
  width: 100%;
}

.label {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 23.4px;
  display: flex;
  align-items: center;
  color: #6a7585;
  margin-bottom: 20px;
}

.agentSettingsTextField {
  text-align: left;
  line-height: 24px;
  height: 35px;
  width: 260px;
  box-shadow: none;
  padding-left: 10px;
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19.2px;
  color: #162741;
  border: 0;
  outline: 0;
  background: #ffffff;
  border: 1px solid rgba(208, 208, 222, 0.6);
  box-sizing: border-box;
  border-radius: 4px;
}

.buttonsWrapper {
  width: 100%;
  display: flex;
  height: 60px;
  border-top: 1px solid #e3e3eb;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 20px;
}
