.mainContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: 0 auto;
  overflow: hidden;
}

.headerAppWrapper {
  max-width: 100%;
  width: 100%;
  max-height: 100vh;
  border: 1px solid #d0d0de;
  border-left: none;
  box-sizing: border-box;
}

.workdeskWrap {
  width: 100%;
  max-width: 1180px;
  height: 100%;
  background: white;
}

::ng-deep .headerAppWrapper .mainHeaderWrap .headerWrap .accountSettingsWrap {
  min-width: 70px;
}

// Responsive
@media only screen and (max-width: 480px) {
  .mainContainer {
    display: block;
  }
}
