.mainContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: 0 auto;
  overflow: hidden;
}

::ng-deep .sidebarWrap .logoWrap .logoImage {
  height: 50px;
}

::ng-deep .sidebarWrap .logoWrap .logoImageCollapsed {
  height: 50px;
  width: 44.3px;
  margin-left: 10px;
}

.headerAppWrapper {
  max-width: 100%;
  width: 100%;
  max-height: 100vh;
  border-left: none;
  box-sizing: border-box;
}

.workdeskWrap {
  width: 100%;
  height: 100vh;
  background: #fefeff;
  overflow: scroll;
}

.workdeskWrap::-webkit-scrollbar {
  display: none;
}

.workdeskWrap {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

// Responsive
@media only screen and (max-width: 480px) {
  .mainContainer {
    display: block;
  }
}