.mainContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: 0 auto;
  overflow: hidden;
}

.headerAppWrapper {
  max-width: 100%;
  width: 100%;
  max-height: 100vh;
  border-left: none;
  box-sizing: border-box;
}

.workdeskWrap {
  width: 100%;
  height: 100vh;
  background: #fefeff;
  overflow: scroll;
}

.workdeskWrap::-webkit-scrollbar {
  display: none;
}

.workdeskWrap {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

// Responsive
@media only screen and (max-width: 480px) {
  .mainContainer {
    display: block;
  }
}
