.mainContainer {
  width: 100vw;
  height: 100%;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.consoleWrap {
  width: 100%;
  background: white;
  height: 100vh;
  overflow: scroll;
  position: relative;
  border-left: none;
  box-sizing: border-box;
  scrollbar-width: none;
}


.dropdown-menu.show{
max-width: 256px;
min-width: 256px;
background: #FFFFFF;
border: 1px solid rgba(208, 208, 222, 0.8);
box-sizing: border-box;
box-shadow: 0px 0px 10px rgba(101, 119, 146, 0.32);
border-radius: 4px;
}
.websiteslist{
  height: 44px;
  margin-top: 4px;
  display: block;
  width: 94%;
  line-height: 44px;
  border-radius: 4px;
  margin-left: 3%;
}
li.websiteslist a{
  font-family: "Roboto",sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
letter-spacing: -0.02em;
color: #162741;
}
li.websiteslist:hover{
background: #EDEDF6;
}
.srcimg{
  margin-right: 20px;
  margin-left: 20px;
  vertical-align: middle;
}
.consoleWrap::-webkit-scrollbar {
  display: none;
}
.collapsed > .label
{
  display: none;
}
.onlineswitchpanel
{
  position: fixed;
  display: block;
  min-width: min-content;
  max-width: max-content;
  height: 24px;
  bottom: 30px;
  margin-left: 30px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 13px;
   font-family: "Roboto",sans-serif; 
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 30px;
  vertical-align: middle;
  align-items: center;
  letter-spacing: 0.02em;
  color: #455267;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3BD182;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
 width: 12px;
height: 12px;
left: 2px;
bottom: 2px;
right: 2px;
top: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
 
input[type="checkbox"]{
  margin: 4px;
}

input:checked + .slider {
  
  background-color: #FF155A;}

input:focus + .slider {

  box-shadow: 0 0 1px #FF155A;
}

input:checked + .slider:before {

  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  margin: 0px;
  margin-top: 4px;

}

.slider.round:before {
  border-radius: 50%;
}
@media only screen and (max-width: 480px) {
  .mainContainer {
    display: block;
  }
  .consoleWrap{
    padding-bottom: 100px;
  }
}
