.paginationWrapper {
  max-height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 0;
  position: relative;
}

.leftPagination {
  width: 50%;
  display: flex;
  align-items: center;
}

.paginationOptions {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: rgba(22, 39, 65, 0.6);
  margin-right: 25px;
}

.paginationOptions.show {
  margin-right: 5px;
}

select {
  width: 48px;
  height: 30px;
  left: 242px;
  top: 1068px;
  background: #ededf6;
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #000000;
  cursor: pointer;
  outline: none;
}

option {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #000000;
  transition: 0.4s;
  background: #ffffff;
}

option:hover {
  width: 42px;
  height: 24px;
  background: #ededf6;
  border-radius: 4px;
}

.rightPagination {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

::ng-deep .paginationWrapper .ngx-pagination {
  display: flex;
  margin: 0;
}

::ng-deep .paginationWrapper .ngx-pagination li {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: -0.02em;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .paginationWrapper .ngx-pagination .current {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.02em;
  color: #000000;

  background: #ededf6;
  border-radius: 4px;
  padding: 0;
  width: 26px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .paginationWrapper .ngx-pagination .ellipsis a {
  padding: 0;
}

::ng-deep .paginationWrapper .ngx-pagination .small-screen {
  display: none;
}

::ng-deep .paginationWrapper .ngx-pagination .pagination-next.disabled::after,
::ng-deep .paginationWrapper .ngx-pagination .pagination-next a::after {
  content: '';
  // background-image: url("../../../assets/images/nextPage.svg");
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  cursor: pointer;
}

::ng-deep .paginationWrapper .ngx-pagination .pagination-previous a::before,
::ng-deep
  .paginationWrapper
  .ngx-pagination
  .pagination-previous.disabled::before {
  content: '';
  // background-image: url("../../../assets/images/prevPage.svg");
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  cursor: pointer;
}

::ng-deep
  .paginationWrapper
  .ngx-pagination
  .pagination-next.disabled::after:hover,
::ng-deep .paginationWrapper .ngx-pagination .pagination-next a:hover {
  background: none;
}

::ng-deep .paginationWrapper .ngx-pagination a:hover,
::ng-deep .paginationWrapper .ngx-pagination button:hover {
  background: none;
}
