.callControlPanel {
  width: 255px;
  height: 56px;
  background: rgba(22, 39, 65, 0.73);
  box-shadow: 3px 3px 10px rgb(0 0 0 / 23%);
  border-radius: 51px;
  text-align: center;
  position: relative;
  bottom: 70px;
}

.controlwrapper {
  padding: 13px 0px 13px 0px;
  height: 30px;
}

.controlIcon {
  width: 30px;
  height: 30px;

  border-radius: 50%;
  display: inline-flex;
  margin-right: 14px;
  cursor: pointer;
}

.deviceSwitcherIcon {
  transition-duration: 0.4s;
  margin: 5px 0;
  text-align: center;
}

.controlIcon.hangUp {
  margin-right: 5px;
}

.timerWithButtton {
  width: 91.71px;
  height: 30px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 35px;
  display: inline-flex;
}

.callDuration {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: inline-flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.deviceSwitcher {
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  top: 3px;
  right: 200px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .hideScreenShare {
    display: none;
  }

  body {
    font-size: 80%;
  }

  .callControlPanel {
    bottom: 0px !important;
    width: 100% !important;
    border-radius: unset;
    height: 90px !important;
  }

  .controlwrapper {
    height: 49px;
    padding: 21px 0px 20px 0px;
    background: rgb(22, 39, 65);
  }

  .timerWithButtton {
    width: 50px;
    height: 50px;
  }

  .callDuration {
    display: none;
  }

  .deviceSwitcher {
    right: calc(100% - 136px);
    left: unset;
    height: 25px;
    width: 25px;
  }

  .controlIcon {
    height: 50px;
    width: 50px;
    margin-right: 70px;
  }

  .controlIcon img {
    height: 40px !important;
    width: 40px !important;
    padding: 4px;
  }

  .controlIcon.hangUp {
    margin-right: 0px;
  }

  .hangIconMobile {
    padding: 4px !important;
  }

  .deviceSwitcherIcon {
    margin: 11px 0;
  }
}
