.callsIndicatior {
  display: flex;
  width: fit-content;
  padding-right: 15px;
  border-radius: 4px;
  height: 33px;
  vertical-align: bottom;
}

.icon {
  margin: 7px;
}

.text {
  font-weight: normal;
  font-size: 12px;
  line-height: 36px;
  align-items: center;
  letter-spacing: 0.02em;
  display: contents;
}