.menuWrapper {
  display: flex;
  padding: 0 30px;
  margin: 0;
  border-bottom: 1px solid #d0d0de99;
  background: #fafafd;
}

.callsUl {
  display: flex;
  padding: 0;
  margin: 0;
}

.callsLi {
  list-style: none;
  margin-right: 22px;
  padding: 6px 0;
}

.callsA {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  align-items: center;
  line-height: 160%;
  letter-spacing: 0.02em;
  color: rgba(22, 39, 65, 0.37);
}

.callsActive {
  border-bottom: 2px solid #1c54db;

  a {
    color: #162741;
  }
}

.filterWrapper {
  display: flex;
  padding: 30px 0;
}

.leftFilter {
  display: flex;
  width: 40%;
}

.rightFilter {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

.multiSelectWrapper {
  margin-right: 10px;
  width: 185px;
  position: relative;
}

.callType {
  width: 105px;
  margin-right: 10px;
}

::ng-deep .calendarLocationLanguage .md-drppicker {
  right: 0 !important;
  top: 120% !important;
  left: auto !important;
  width: max-content !important;
}

::ng-deep .calendarLocationLanguage .md-drppicker .ranges {
  height: 371px;
}

.calendarSelectMenu {
  height: 34px;
  width: 100%;
  cursor: pointer;

  input {
    cursor: pointer;
    border: none;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #162741cc;
  }
}

.calendarLocationLanguage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 11px;
  background: #ffffff;
  border: 1px solid rgba(208, 208, 222, 0.6);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

// @media only screen and (max-width: 1000px) {

// ::ng-deep .callsIndicatior{
//   height: 35px;
// }
// }