

::ng-deep .filterWrapper .leftFilter .dropdownWrapper,
::ng-deep .filterWrapper .rightFilter .dropdownWrapper {
  width: unset !important;
}

.menuWrapper {
  display: flex;
  padding: 0 30px;
  margin: -2px 0px 0px 0px;
  border-bottom: 1px solid #d0d0de99;
  background: #fafafd;
  position: fixed;
  width: 100%;
}

.inPageWrapper {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 2px;
  background: #fefeff;
}

.callsUl {
  display: flex;
  padding: 0;
  margin: 0;
}

.callsLi {
  list-style: none;
  margin-right: 22px;
  padding: 4px 0;
  width: fit-content;
  display: flex;
}

.counterWrapper {
  margin-left: 8px;
  display: inline-block;
  margin-top: 7px;
}

.callsA {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  align-items: center;
  line-height: 160%;
  letter-spacing: 0.02em;
  color: #162741;
}

::ng-deep .filterWrapper > .leftFilter .dropdownWrapper .selectDropdown {
  background: #ededf6 !important;
  border: none;
}

.callsActive {
  border-bottom: 2px solid #1c54db;

  a {
    color: #162741;
  }
}

.filterWrapper {
  padding: 30px 0;
  margin-top: 35px;
  position: sticky;
  display: flex;
  background: #fefeff;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 0px;
  top: 35px;
}

.leftFilter {
  width: 40%;
  display: inline-flex;
  text-align: left;
}

.rightFilterWrapper {
  width: 60%;
  text-align: right;
  display: inline-flex;
  justify-content: flex-end;
}

.rightFilter {
  width: fit-content;
  position: relative;
  display: inline-flex;
}

.multiSelectWrapper {
  margin-right: 10px;
  width: 185.55px;
  position: relative;
  vertical-align: bottom;
}

.multiSelectWrapper.search {
  width: fit-content;
}

.callType {
  width: 107px;
  margin-right: 10px;
}

.multiSelectWrapper.search {
  margin-right: 0px;
}

::ng-deep .searchWrap {
  justify-content: flex-end;
}

::ng-deep .calendarLocationLanguage .md-drppicker {
  right: 0 !important;
  top: 120% !important;
  left: auto !important;
  width: max-content !important;
}

::ng-deep .calendarLocationLanguage .md-drppicker .ranges {
  height: 371px;
}

.calendarSelectMenu {
  height: 34px;
  width: 100%;
  cursor: pointer;

  input {
    cursor: pointer;
    border: none;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #162741cc;
  }
}

.calendarLocationLanguage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 11px;
  background: #ffffff;
  border: 1px solid rgba(208, 208, 222, 0.6);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

// @media only screen and (max-width: 1000px) {

// ::ng-deep .callsIndicatior{
//   height: 35px;
// }
// }
