.noTobaleData {
  display: block;
  width: 100%;
  height: 160px;
  background: #fafafd;
  border: 1px solid #e3e3eb;
  border-top: none;
  margin: 0 -1px;
  margin-top: -69px;
}

.text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 159px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.02em;
  color: #445167;
}