.addAgentWrapper {
  width: 504px;
  height: 480px;
}

.addAgentOperation {
  width: 504px;
  background: #FFFFFF;
 
}

.headerPanel {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #162741;
  width: 50%;
}

.closeIconPanel {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.inPageWrapper {
  padding: 0 0 0 30px;
  overflow-y: overlay;
}