.agentSettingsWrapper {
  margin: 30px;
  background: #ffffff;
  border: 1px solid rgba(208, 208, 222, 0.6);
  box-sizing: border-box;
  border-radius: 7px;
  padding: 0 30px;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 130px;
}

.toggleForAllLanguage {
  width: 100%;
}

.SelectAllLanguage {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.buttonOperations {
  margin-left: 10px;
}

.section {
  padding: 30px 0;
  display: block;
  align-items: center;
  border-bottom: 1px solid #e3e3eb;
}

.section.btn,
.section.info {
  display: flex;
}

.profileWrapper {
  display: block;
}

.profileName.adminRight {
  margin-top: 30px;
  margin-bottom: 30px;
}

.languageWrapper.section {
  padding-bottom: 0px;
}

.administrativeRightsWrapper {
  padding-bottom: 0;
  width: 100%;
}

.buttonsWrapper {
  width: 100%;
  justify-content: space-between;
}

.image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 30px;
  position: relative;
}

.fullName {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32.5px;
  display: block;
  align-items: center;
  color: #162741;
}

.email {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 23.4px;
  display: block;
  align-items: center;
  color: #6a7585;
}

.label {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 23.4px;
  display: flex;
  align-items: center;
  color: #6a7585;
  margin-bottom: 20px;
}

.profileName {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  line-height: 18px;
  display: inline-block;
  align-items: center;
  letter-spacing: 0.02em;
  color: #162741;
}

.firstLastName {
  display: flex;
  align-items: center;
}

.inputWrapper {
  margin-right: 37px;
  width: 100%;
  margin-bottom: 10px;
}

.restrictedAdmin.language {
  margin-bottom: 30px;
}

.inputWrapper.textField {
  max-width: 240px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.switchWrapper {
  margin-bottom: 0;
}

.agentName {
  max-width: 240px;
  margin-top: 15px;
}

.agentSettingsTextField {
  text-align: left;
  line-height: 24px;
  height: 35px;
  width: 240px;
  box-shadow: none;
  padding-left: 10px;
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19.2px;
  color: #162741;
  border: 0;
  outline: 0;
  background: #ffffff;
  border: 1px solid rgba(208, 208, 222, 0.6);
  box-sizing: border-box;
  border-radius: 4px;
}

.restrictedAdmin {
  background: #edf6f5;
  border: 1px solid #d3e0e1;
  border-radius: 4px;
  padding-left: 30px;
  padding-right: 30px;
  height: 55px;
}

.messageForAdminRights {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 53px;
  letter-spacing: 0.02em;
  color: #162741;
}

.openPasswordDialog {
  font-size: 13px;
  color: #1c54db;
  line-height: 15px;
  cursor: pointer;
  display: inline-block;
  padding-left: 12px;
  position: relative;
}

.agentImage {
  border-radius: 50%;
  position: relative;
  height: 50px;
  width: 50px;
}

.agentActionButtonWrapper {
  display: flex;
  width: 100%;
  justify-content: right;
}

.actionButton {
  width: 130px;
  height: 35px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  color: #162741;
  background: #ffffff;
  border: 1px solid rgba(208, 208, 222, 0.6);
  box-sizing: border-box;
  border-radius: 4px;
}

.status-circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  bottom: 0;
  right: -8px;
  position: absolute;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}

.uploadcamera {
  margin: 5px;
  margin-top: 6px;
}

// .deletePopupDimentions ::ng-deep .modal {
//   min-height: 250px;
//   max-height: 250px;
//   min-width: 594px;
//   max-width: 594px;
// }