<div class="agentSettingsWrapper">
  <div class="imageWrapper section">
    <div class="image"></div>
    <div class="agentsData">
      <div class="fullName">{{this.selectedAgent?.name}}</div>
      <div class="email">{{this.selectedAgent?.agent}}</div>
    </div>
  </div>
  <div class="profileWrapper section">

  </div>
  <div class="languageWrapper section">

  </div>
  <div class="administrativeRightsWrapper section">

  </div>
  <div class="passwordWrapper section">

  </div>
  <div class="buttonsWrapper section">

  </div>
</div>
