.agentSettingsWrapper {
  margin: 30px;
  background: #ffffff;
  border: 1px solid rgba(208, 208, 222, 0.6);
  box-sizing: border-box;
  border-radius: 7px;
  padding: 0 30px;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 130px;
}

.section {
  padding: 30px 0;
  display: block;
  align-items: center;
  border-bottom: 1px solid #e3e3eb;
}

.section.btn,
.section.info {
  display: flex;
}

.section:last-child {
  border-bottom: none;
}

.profileWrapper {
  display: block;
}

.administrativeRightsWrapper {
  padding-bottom: 0;
  width: 100%;
}

.buttonsWrapper {
  width: 100%;
  justify-content: space-between;
}

.image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 30px;
}

.fullName {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32.5px;
  display: block;
  align-items: center;
  color: #162741;
}

.email {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 23.4px;
  display: block;
  align-items: center;
  color: #6a7585;
}

.label {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 23.4px;
  display: flex;
  align-items: center;
  color: #6a7585;
  margin-bottom: 20px;
}

.profileName {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  line-height: 48.83px;
  display: inline-block;
  align-items: center;
  letter-spacing: 0.02em;
  color: #162741;
}

.firstLastName {
  display: flex;
  align-items: center;
}

.inputWrapper {
  margin-right: 37px;
  width: 100%;
  margin-bottom: 8px;
}

.inputWrapper.textField {
  max-width: 240px;
}


.switchWrapper {
  margin-bottom: 0;
}

.agentName {
  max-width: 240px;
}

.agentSettingsTextField {
  text-align: left;
  line-height: 24px;
  height: 35px;
  width: 240px;
  box-shadow: none;
  padding-left: 10px;
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19.2px;
  color: #162741;
  border: 0;
  outline: 0;
  background: #FFFFFF;
  border: 1px solid rgba(208, 208, 222, .6);
  box-sizing: border-box;
  border-radius: 4px;
}

.restrictedAdmin {
  background: #EDF6F5;
  border: 1px solid #D3E0E1;
  border-radius: 4px;
  padding-left: 30px;
  padding-right: 30px;
  height: 55px;
  margin-bottom: 10px;
}

.messageForAdminRights {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 53px;
  letter-spacing: 0.02em;
  color: #162741;
}

.openPasswordDialog {
  font-size: 13px;
  color: #1c54db;
  line-height: 15px;
  cursor: pointer;
  display: inline-block;
  padding-left: 12px;
  position: relative;
}

.agentImage {
  border-radius: 50%;
  position: relative;
  height: 50px;
  width: 50px;
}