<div class="agentSettingsWrapper">
  <div class="imageWrapper section info">
    <div class="image">
      <img [src]="agentImage" alt="" class="agentImage" />
    </div>
    <div class="agentsData">
      <div class="fullName">{{ this.selectedAgent?.display_name }}</div>
      <div class="email">{{ this.selectedAgent?.email }}</div>
    </div>
  </div>
  <div form="agentSettingsForm" [formGroup]="agentSettingsForm">
    <div class="profileWrapper section">
      <div class="profileName">Profile</div>
      <div class="firstLastName">
        <div class="inputWrapper textField">
          <div class="label">First name</div>
          <input class="agentSettingsTextField" type="text" formControlName="first_name" />
        </div>
        <div class="inputWrapper textField">
          <div class="label">Last name</div>
          <input class="agentSettingsTextField" type="text" formControlName="last_name" />
        </div>
      </div>
      <div class="agentName">
        <div class="label">Agent name</div>
        <input class="agentSettingsTextField" type="text" formControlName="display_name" />
      </div>
    </div>

    <div class="languageWrapper section">
      <div class="profileName">
        Language
        <div class="inputWrapper textField">
          <div class="label">Select language(s) for this agent:</div>
          <app-multi-select-dropdown [multiSelectData]="languauges" (multiSelectOutput)="languaugesOutput($event)">
          </app-multi-select-dropdown>
        </div>
      </div>
    </div>
    <div class="administrativeRightsWrapper section">
      <div class="restrictedAdmin">
        <div class="messageForAdminRights">
          Organization admins cannot turn off administrative rights.
        </div>
      </div>
      <div class="profileName">
        Administrative Rights
        <div class="inputWrapper switchWrapper">
          <div class="label">
            Admins can add new agents and change settings.
          </div>
          <app-switch-button [switchButtonData]="switchButtonData" (switchButtonValue)="onGetSwitchButtonValue($event)">
          </app-switch-button>
        </div>
      </div>
    </div>
    <div class="passwordWrapper section">
      <div class="profileName">
        Password
        <div class="inputWrapper">
          <div class="label">Set password</div>
          <input class="agentSettingsTextField" type="password" placeholder="******" />
          <div class="openPasswordDialog">Change</div>
        </div>
      </div>
    </div>
  </div>
  <div class="buttonsWrapper section btn">
    <app-button (buttonOutput)="onGetBackButtonOutput($event)" [buttonData]="backButtonData"></app-button>
    <app-button (buttonOutput)="onGetSaveButtonOutput($event)" [buttonData]="saveButtonData"></app-button>
  </div>
</div>