.tableWrap {
    padding: 0 30px;
}

.userImage {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: inherit;
}

.callType {
    margin-right: 10px;
    vertical-align: inherit;
}

.utilities {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    margin-left: 10px;
}

.utilities:first-child {
    margin-left: 0px;
}

table {
    width: 100%;
    border: 1px solid rgba(208, 208, 222, 0.6);
    box-sizing: border-box;
    background: white;
    border-collapse: collapse;
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-style: hidden;
    box-shadow: 0 0 0 1px rgba(208, 208, 222, 0.6);
    overflow: hidden;
}

table thead tr th div {
    display: inline-flex;
    transition: 0.4s;
    margin-left: 12px;
    width: 28px;
    height: 27px;
    justify-content: center;
    visibility: hidden;
    align-items: center;
    vertical-align: inherit;
}

table thead tr th div img {
    width: 14px;
    height: 17px;
}

table thead tr th:hover div {
    justify-content: center;
    align-items: center;
    visibility: visible;
    display: inline-flex;
    cursor: pointer;

}

table thead tr th div:hover {

    background: #D8D8F5;
    border-radius: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

table thead tr th:nth-child(7) div {
    display: none;
}

td:first-child {
    text-align: left;
}

td:first-child span {
    margin-right: 10px;
    color: #949CA8;
}

td:last-child,
th:last-child {
    padding-right: 46px;
}

th {
    font-size: 12px;
    color: #162741a3;
    font-family: 'Robot', sans-serif;
    text-transform: uppercase;
    font-weight: 500;

}

td {
    cursor: pointer;
    color: #162741;
    font-size: 12px;
    font-family: 'Robot', sans-serif;

}

thead tr {
    height: 50px;
    max-height: 50px;
    background: white;
    font-size: 16px;
    border-bottom: 1px solid #E3E3EB;

}

table tbody tr {
    transition: 0.5s;
}

tbody tr {
    height: 50px;
    max-height: 50px;
    border: 0 none;
    border-bottom: 1px solid #E3E3EB;


    &:last-child {
        border: 0;
    }
}

table tbody tr:nth-child(odd) {
    background: #FAFAFD;

}

table tbody tr:nth-child(even) {
    background: white;
}

table tbody tr:hover {
    background: #EDEDF6;
}

td,
th {
    text-align: left;

    &.l {
        text-align: right;
    }

    &.c {
        text-align: center;
    }

    &.r {
        text-align: center;
    }
}

.checkedTr {
    background: #ededf6 !important;
}

table tr td:nth-child(2) {
    font-weight: 600;
    font-size: 12px;
    color: #162741;
}

table tr td:nth-child(1) {
    font-weight: 500;
    font-size: 12px;
    text-align: left;
    border-bottom: none;
    padding-left: 24px;
}

table tr td:nth-child(3) span {
    align-items: center;
    letter-spacing: 0.02em;
    color: #949CA8;
}

table tbody tr td:nth-child(5) span {
    margin-right: 10px;
}

table tbody tr td:nth-child(5) span {
    margin-right: 10px;
    color: #445167;

}

table tr th:nth-child(1) {
    font-size: 12px;
    text-align: left;
    border-bottom: none;
    color: #737D8D;
    padding-left: 24px;
}

table tr th:nth-child(6) {

    text-align: center;
    padding-right: 0px;

}

table tbody tr td:nth-child(6) {

    text-align: center;
    color: #445167;

}