image-cropper {
  height: 50vh;
}

button {
  margin: 4px;
  background: #64dfdf;
  border-radius: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  height: 36px;
  /* identical to box height, or 171% */
  width: 120px;

  display: inline-block;
  align-items: center;
  text-align: center;
  padding: 8px;
  color: #ffffff;
}

.mainheadingpanel {
  display: block;
  width: 100%;
}

.headingpanel {
  display: inline-block;
  width: 50%;
  text-align: left;
}

.heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  letter-spacing: 0.02em;
  color: #162741;
}

.progresspanel {
  display: block;
  width: calc(100% - 66px);
  margin-top: 20px;
  padding-left: 33px;
  padding-right: 33px;
  border-radius: 3px;
  height: 3px;
}

#progressbar {
  height: 3px;
  width: calc(100% - 66px);
  background-color: #1C54DB;
  animation-name: prgb;
  animation-duration: 5s;
  border-radius: 3px;
  margin-top: 10px;
  margin-left: 33px;
  margin-right: 33px;

}

@keyframes prgb {
  0% {
    width: calc(0% - 66px);
    ;
  }

  25% {
    width: calc(25% - 66px);
    ;
  }

  50% {
    width: calc(50% - 66px);
    ;
  }

  75% {
    width: calc(75% - 66px);
    ;
  }

  100% {
    width: calc(100% - 66px);
  }
}

.closepanel {
  display: inline-block;
  width: 50%;
  text-align: right;
}

.uploadbtnpanel {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 12px;
}

.upload {
  background: #292f58;
  border-radius: 8px;
  width: 120px;
  height: 36px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
}

.datasizepanel {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding-left: 33px;
  margin-bottom: 20px;
}

.picturearea {
  display: block;
  width: 282px;
  height: 282px;
  margin: 0 auto;
}

.zoomout {
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
  cursor: pointer;
  height: 34px;
}

.zoomin {
  display: inline-block;
  margin-left: 8px;
  vertical-align: middle;
  cursor: pointer;
  height: 34px;
}

.square {
  background: black;
}

mat-slider {
  width: 300px;
}

.datasize {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  letter-spacing: 0.02em;
  color: #162741;
}

.uploadicon {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 33px;
}

.uploadarea {
  width: 534px;
  height: 186px;
  background: #fafafd;
  border: 1px dashed rgba(208, 208, 222, 0.6);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btnpanel {
  display: block;
  width: 100%;
  text-align: right;
  margin-top: 30px;
}

.btnpanelzooms {
  display: block;
  width: 100%;
  text-align: center;
}

.discriptionpanel {
  text-align: center;
  display: block;
  width: 100%;
  margin-top: 12px;
}

.descp {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 160%;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;

  color: rgba(22, 39, 65, 0.8);
}

.uploadbtn {
  background: #ffffff;
  border: 1px solid rgba(208, 208, 222, 0.6);
  box-sizing: border-box;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  margin: auto;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: #162741;
  width: 103px;
  height: 42px;
  padding: 10px;
}

.cancelpanel {
  display: inline-block;
  width: 50%;
  text-align: left;
}

.savepanel {
  display: inline-block;
  width: 50%;
  text-align: right;
}

.cancel {
  width: 83px;
  height: 35px;
  background: #ffffff;
  border: 1px solid rgba(208, 208, 222, 0.6);
  box-sizing: border-box;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #162741;
  margin: 0px;
}

.save {
  width: 82px;
  height: 35px;
  background: #1c54db;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
}

.closebtn {
  width: 22px;
  height: 22px;
  color: #a6a8ba;
  opacity: 1;
}

.loadingpanel {
  display: block;
  width: 100%;
  margin-top: 20px;
}

.filename {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  align-items: center;
  letter-spacing: 0.02em;
  display: inline-block;
  margin-left: 15px;
  vertical-align: super;
  color: #162741;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #1c54db;
}

::ng-deep .mat-progress-bar-buffer {
  background: #ededf6;
}

::ng-deep .mat-progress-bar {
  border-radius: 3px;
}

::ng-deep .mat-slider-track-wrapper {
  background-color: #c4c4c4;
  border-radius: 4px;
}

::ng-deep .mat-slider-thumb {
  border: 1px solid rgba(208, 208, 222, 0.6);
  box-sizing: border-box;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.19);
}

::ng-deep .mat-accent .mat-slider-thumb {
  background-color: #1c54db;
}

::ng-deep .mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
  background-color: #d0d0de;
}

.mobileversion {
  display: none;
}

@media (max-width: 768px) {
  .mobileversion {
    display: block;
  }

  .hideformobile {
    display: none;
  }

  .mainpanel {
    display: block;
    width: 100%;
  }

  .takephotopanel {
    display: block;
    height: 50px;
    background: #ffffff;
    border: 1px solid rgba(208, 208, 222, 0.6);
    box-sizing: border-box;
    border-radius: 4px 4px 0px 0px;
  }

  .chosepicturepanel {
    display: block;
    height: 50px;
    background: #ededf6;
    border: 1px solid rgba(208, 208, 222, 0.6);
    box-sizing: border-box;
    border-radius: 0px 0px 4px 4px;
  }

  .picturetext {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 50px;
    align-items: center;
    letter-spacing: 0.02em;
    width: 100%;
    text-align: left;
    padding-left: 26px;
    color: #162741;
  }

  .cancelbtnpanel {
    margin-top: 8px;
    background: #ffffff;
    border: 1px solid rgba(208, 208, 222, 0.6);
    box-sizing: border-box;
    border-radius: 4px;
  }

  .uploading {
    width: 313px;
    padding: 30px;
    height: 241px;
    background: #ffffff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.23);
    border-radius: 4px;
  }

  .progresspanel {
    padding-right: 0px;
    height: 3px;
  }

  .cropicturearea {
    width: 313px;
    padding: 30px;
    height: 475px;
    background: #ffffff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.23);
    border-radius: 4px;
  }

  .picturearea {
    width: 248px;
    height: 248px;
    padding: 30px;
  }

  mat-slider {
    width: 200px;
  }

  .headingpanel {
    width: 100%;
  }

  .heading {
    font-size: 15px;
  }

  .closepanel {
    display: none;
  }
}