svg{
    text-align: center;
}
.description
{
    font-family: "Roboto",sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
align-items: center;
text-align: center;

color: #292F58;

}
span{
    color: #FF155A;
}