<div id="dragarea" #dragarea class="minimizearea" style="height: 100%;"  [cdkDragDisabled]="is_dragable" 
    cdkDrag  cdkDragBoundary=".main" 
    [cdkDragFreeDragPosition]="dragPosition"  cdkDragHandle >
<div class="callinterface" >
  <div class="userinformation">
    <div class="headerimagepanel" style="border: 1px solid rgba(255, 255, 255, 0.4);height: 34px; width: 34px; border-radius: 50%; background: #2B3A51; display: inline-block;">
     <p style=" font-size: 11px;
     line-height: 34px;
     display: block;
     text-align: center;" >{{peerFirstnameinitials}}{{peerLastnameinitials}}</p>
      <!-- <img [hidden]="this.peerPicture==null" class="userimage" [src]="this.peerPicture" height="34" width="34" alt=""> -->
    </div>
<p  class="username">{{peerFirstname}} {{peerLastname}}</p>
</div>  
  <div class="minimizeiconpanel">
  <svg style="height: 20px; cursor: pointer;" class="miniicon"  *ngIf="hideContant" style="cursor: pointer;margin-bottom: 2px;" (click)="miniMizetheScreen(hideContant)" width="12" height="2" viewBox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M11.8204 1.82031H0.179749V0.179688H11.8204V1.82031Z" fill="white"/>
  </svg>
  </div>

<div class="signalindicator">
  <img [src]="callQualityIndicator" alt="" srcset="">
</div>
  <div class="maxiconforvideo"   *ngIf="!hideContant" style="float: right;
  cursor: pointer;
  height: 50px;
  background: #2B3A51;
  width: 25%;
  vertical-align: text-bottom;">
  <svg class="maximizeicon"  (click)="miniMizetheScreen(hideContant)" width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M17.5 13.8594V2.14062H2.5V13.8594H17.5ZM17.5 0.5C17.9427 0.5 18.3333 0.669271 18.6719 1.00781C19.0104 1.34635 19.1797 1.73698 19.1797 2.17969V13.8203C19.1797 14.263 19.0104 14.6536 18.6719 14.9922C18.3333 15.3307 17.9427 15.5 17.5 15.5H2.5C2.05729 15.5 1.66667 15.3307 1.32812 14.9922C0.989583 14.6536 0.820312 14.263 0.820312 13.8203V2.17969C0.820312 1.73698 0.989583 1.34635 1.32812 1.00781C1.66667 0.669271 2.05729 0.5 2.5 0.5H17.5ZM5.82031 5.5V8H4.17969V3.82031H8.32031V5.5H5.82031ZM15.8203 8V12.1797H11.6797V10.5H14.1797V8H15.8203Z" fill="white"/>
  </svg>
  </div>

</div>



 <div class="callarea desktop">
  <div   class="dragarea " [ngStyle]="{'width':(splitscreen==true ) ? '50%' : '100%'}" >
        <div style="display: block;
        z-index: 1001;
        position: absolute;
        right: 51%;" [ngClass]="splitscreen==true? 'unsplit' : ' splitscreen'"   [ngStyle]="{'display': (splitscreen==true) ? 'block' : 'none'}">
        <img (click)="splitScreen(splitscreen)"   class="spliticon" [src]="splitIcon" alt="">
        </div>
        <div #usercamera id="usercamera"  [cdkDragFreeDragPosition]="dragPosition"  [hidden]="splitscreen" [ngStyle]="{'background': (camerabtn==true) ? '#2B3A51' : '#000000'}" cdkDragBoundary=".dragarea" class="loggedUsercamera" cdkDrag>
         <p *ngIf="camerabtn" class="capitalinitials">{{firstuserFirstName}}{{firstuserLastName}}</p>
                  <video  id="localVideo"  aria-valuemin="0" aria-valuemax="100" #localVideo [autoplay]='true' [muted]="true"  class="localcamera"  
                  style="border-radius: 4px;
                  object-fit: cover;" [hidden]="camerabtn" ></video>
              <p  *ngIf="camerabtn" class="camerapersonname">{{userFirstName}} (me)</p> 
              <div class="splitscreen" [ngStyle]="{'display': (splitscreen==true) ? 'none' : 'block'}" >
                <img (click)="splitScreen(splitscreen)" class="spliticon"   [src]="unsplitIcon" alt="">
              </div>
          </div>
          <div  class="userimagepanel local desktop"   [ngStyle]="{'display': (splitscreen==true) ? 'none' : 'block'}" style="width: 200px;
          height: 200px;
          margin: 0 auto;
          top: 32%;
          position: relative;
          background-color: #2B3A51;
          border-radius: 50%;
          border: 1px solid rgba(255, 255, 255, 0.4);">
            <!-- <img [hidden]="this.peerPicture==null"  height="200" width="200" class="userimagebig desktop" [src]="this.peerPicture" alt=""> -->
            <p style="position: relative;
            margin: 0 auto;
            vertical-align: middle;
            top: 45%;" class="capitalinitials">{{peerFirstnameinitials}}{{peerLastnameinitials}}</p>
          </div>
          <!-- for splitedscreen -->
          <div class="userimagepanel local desktop"   [ngStyle]="{'display': (splitscreen==true) ? 'block' : 'none'}" style="width: 200px;
          height: 200px;
          margin: 0 auto;
          top: 32%;
          position: relative;
          background-color: #2B3A51;
          border-radius: 50%;
          border: 1px solid rgba(255, 255, 255, 0.4);">
            <!-- <img [hidden]="this.userPicture==null"  height="200" width="200" class="userimagebig desktop" [src]="this.userPicture" alt=""> -->
            <p style="position: relative;
            margin: 0 auto;
            vertical-align: middle;
            top: 45%;" class="capitalinitials">{{firstuserFirstName}}{{firstuserLastName}}</p>
          </div>

       <div class="mobilecallerinformationpanel" style="position: relative;" [ngStyle]="{'top':(splitscreen==true ) ? '60%' : '20%'}">
        <div [ngStyle]="{'display': (splitscreen==true) ?  'block' : 'none '}"   class="userimagepanel local mobile"   *ngIf="!hidecamera"style="width: 200px;
        height: 200px;
        margin: 0 auto;
        top: 32%;
        position: relative;
        background-color: #2B3A51;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.4);">
          <!-- <img [hidden]="this.userPicture==null" height="200" width="200" class="userimagebig desktop" [src]="this.userPicture" alt=""> -->
        
            <p style="position: relative;
                margin: 0 auto;
                vertical-align: middle;
                top: 45%;" class="capitalinitials" >{{firstuserFirstName}}{{firstuserLastName}}</p>
        </div>
       <!-- for splitedscreen  mobile -->
        <div   [ngStyle]="{'display': (splitscreen==true) ? 'none' : 'block'}"   class="userimagepanel local mobile"   *ngIf="!hidecamera"style="width: 200px;
        height: 200px;
        margin: 0 auto;
        top: 32%;
        position: relative;
        background-color: #2B3A51;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.4);">
          <!-- <img  [hidden]="this.peerPicture==null"  height="200" width="200" class="userimagebig desktop" [src]="this.peerPicture" alt=""> -->
        
            <p style="position: relative;
                margin: 0 auto;
                vertical-align: middle;
                top: 45%;" class="capitalinitials">{{peerFirstnameinitials}}{{peerLastnameinitials}}</p>
        </div>
       </div>
         
      <!-- <img *ngIf="!hidecamera" height="200" width="200" class="userimagebig desktop" src="../../../../assets/picface.jpeg" alt=""> -->
      <!-- <img  [ngStyle]="{'top':(splitscreen==true ) ? '58%' : '20%'}" *ngIf="!hidecamera" height="200" width="200" class="userimagebig local" src="../../../../assets/picface.jpeg" alt=""> -->

      <div [ngStyle]="{'display': (camerabtn==false) ? 'block' : 'none'}">
        <video class="videllocal" [hidden]="!splitscreen" [muted]="true"  height="100%" width="100%"  id="localVideo1" #localVideo1 [autoplay]='true'   style="top: 80px;
        left: 0;
        width: 50%;
        height: 100vh;
        object-fit: cover;
        position: absolute;"></video>
      </div>

        <video  [ngClass]="splitscreen==true? 'splitvidepremote' : 'unspplitvideo'"  [ngStyle]="{'display': (peercamera==true) ? 'block' : 'none'}"     id="remoteVideo" 
        #remoteVideo [autoplay]='true'    [muted]="false" ></video>

      <div   class="camerasplitinfo" [ngStyle]=" {'display': (splitscreen==true) ? 'block' : 'none'}">
        <div class="userimagepanel" *ngIf="!hidecamera"  style="width: 200px;
        height: 200px;
        margin: 0 auto;
        top: 32%;
        position: relative;
        background-color: #2B3A51;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.4);">
        <p style="position: relative;
        margin: 0 auto;
        vertical-align: middle;
        top: 45%;"  class="capitalinitials">{{peerFirstnameinitials}}{{peerLastnameinitials}}</p>
        <!-- <img [hidden]="this.peerPicture==null" height="200" width="200" class="userimagebig remote" [src]="this.peerPicture" alt=""> -->
       
        </div>
        <!-- <video class="remoteVideo"   #remoteVideo   id="remoteVideo" 
        style="top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        display: block;"  ></video> -->
      </div>
      <div #textforscreen id="textforscreen" class="sharescreenmsg">
        <p class="sharescrntext">Switch to maximize mode to see the screen share.</p>
      </div>
  </div>
</div>
      
<div class="callcontrolpanel">

  <div id="callcontrol" #callcontrol class="callcontrol"  [ngStyle]="{'background': (hideContant==false) ? '#162741' : 'rgba(22, 39, 65, 0.73);'}">
   <!-- popup for switching devices -->
    <div class="deviceswitcherpanel" id="switchpanel" #switchpanel>
      <div class="deviceswitcher">
        <div class="switcherheaderpanel">
         <img class=" sw_heading_img" height="10" width="10" src="../../../../assets/assets_workdesk/microphone_icon.svg" alt=""> <p class="sw_heading_text">Microphones</p> 
       </div>
       <ul class="deviceslist">
        <li class="deviceitem" *ngFor="let devc of inputMicrophone;" (click)="selectMicrophone(devc)">
          <img [ngStyle]=" {'visibility': (devc.selected==true) ? 'visible' : 'hidden'}" height="10" width="10"  class="sw_img" src="../../../../assets/assets_workdesk/green_check_icon.svg" alt="">
          <p class="devicename">{{devc.data.label}}</p>
          <div class="voicelevels">
            <div class="voicebars" *ngFor="let bar of getArray(8);">
              
            </div>
          </div>
        </li>
        </ul>
      </div>
      <div class="deviceswitcher">
        <div class="switcherheaderpanel">
          <img class="sw_heading_img" src="../../../../assets/assets_workdesk/speakers_icon.svg" alt=""> <p class="sw_heading_text">Speakers</p> 
       </div>
       <ul class="deviceslist">
        <li  class="deviceitem" *ngFor="let devc of outputSpeaker;" (click)="selectSpeaker(devc)">
          <img  [ngStyle]=" {'visibility': (devc.selected==true) ? 'visible' : 'hidden'}" class="sw_img" src="../../../../assets/assets_workdesk/green_check_icon.svg" alt="">
          <p class="devicename speaker">{{devc.data.label}}</p>
        </li>
        </ul>
      </div>
    </div>  
      <div id="callcontrol" #callcontrol class="callcontrol" class="callcontrolicons">
          <div class="miccontrolbtnpanel" (click)="showswitcher(showSwitcher)" [ngStyle]="{'background': (showSwitcher==true) ? 'rgba(255, 255, 255, 0.1)' : '#1C54DB'}">
            <img style="width: fit-content;
            position: absolute;
            transition-duration: 0.4s;
            margin: 5px 4px;
            text-align: center;"  [ngStyle]="{'transform': (showSwitcher==true) ? 'rotatex(0deg)' : 'rotatex(180deg)'}" src="../../../../assets/assets_workdesk/small_arrow.svg" alt="">
          </div> 
        <div class="callicons" [ngStyle]="{'background': (micbtn==true) ? 'rgba(255, 255, 255, 0.1)' : '#1C54DB'}"  (click)=" micebtncheck(micbtn)"   >
           <img  class="caIcon"  height="30" width="30" [src]="micIcon" alt="" >
          </div>
           
          <div class="callicons" [ngStyle]="{'background': (camerabtn==true) ? 'rgba(255, 255, 255, 0.1)' : '#1C54DB'}"  (click)="camerabtncheck(camerabtn)"  >
            <img class="caIcon"    height="30" width="30"  [src]="cameraIcon" alt="">

          </div>
    
          <div class="callicons" style="margin-right: 0px;" [ngStyle]="{'background': (screensharebtn==true) ? 'rgba(255, 255, 255, 0.1)' : '#1C54DB'}" (click)="screensharebtncheck(screensharebtn)"  >
            <img   class="caIcon" height="30" width="30" style="display: block;
" src="../../../../assets/assets_workdesk/sharing.svg" alt="">
          </div>
      </div>
      <div id="callcontrol" #callcontrol class="callcontrol" class="calltime_drop">
          <p class="calltime">{{showtime()}}</p>
          <div class="callicon_drop" (click)=" hangupCall()">
            <img  class="hangicon" src="../../../../assets/assets_workdesk/endcall.svg" alt="">
          </div>
      </div>
    
  </div>
</div>
</div>
