.callinterface{
height: 78px;
width: 100%;
display: block;
background: #162741;
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.23);
padding: 24px;
}
video {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  video#remoteVideo{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
.userinformation{
    display: inline-block;
    width: 50%;
    text-align: left;
}
.minimizeiconpanel{
    display: inline-block;
    width: 50%;   
    text-align: right;
    position: fixed;
    padding-right: 20px;
}
.userimage{
    width: 34px;
    height: 34px;
    border: none;
    border-radius: 50%;
}

.userimagebig{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border: none;
    border-radius: 50%;
    top: 32%;
}
.username{
    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    vertical-align: middle;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    display: inline;
    margin-left: 22px;
    cursor: default;
    
}
.callarea{
    background: #0F1B2F;
    height: calc(100% - 78px);
    text-align: center;
    display: block;
}
.capitalinitials
{
font-family: "Roboto",sans-serif;
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 17px;
display: block;
align-items: center;
text-align: center;
letter-spacing: 0.02em;

color: #FFFFFF;
}
.callcontrolpanel{
    display: block;
    width: 100%;
    height:45px;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    bottom:0px;
}
.callcontrol{
    width: 250px;
    height: 56px;
    background: rgba(22, 39, 65, 0.73);
    box-shadow: 3px 3px 10px rgb(0 0 0 / 23%);
    border-radius: 51px;
    display: inline-block;
    bottom: 42px;
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: center;
    z-index: 2;
    position: relative;
    transition: 0.3s;
    transform: unset;
}

.callcontrolicons{
    width: 120px;
    height: 30px;
    display: inline-block;
    text-align: left;
    vertical-align: initial;
}
.callicons{
width: 30px;
height: 30px;
display: inline-flex;
margin-right:15px;
background: #2D3D54;
border: none;
cursor: pointer;
border-radius: 50%;
transition-duration: 0.4s;
}
.callicons img.caIcon:hover{
background: #173b96;
border-radius: 50%;
}
.callicon_drop:hover{
    background: #CC0943;
   
}
.calltime{
    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 31px;
    display: inline-block;
    align-items: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-left: 5px;
    padding-right: 7px;
}
.calltime_drop{
    vertical-align: middle;
    width: 92px;
    height: 30px;
    margin-left: 15px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 35px;
    display: inline-block;
    text-align: right;
    margin-bottom: 22px;
}
.hangicon{
    vertical-align: middle;
    margin-top: 6px;
}
.callicon_drop{
    width: 30px;
    height: 30px;
    background: #FF155A;
    display: block;
    border: none;
    float: left;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.4s;
    
 }
 .dragarea{
    height: calc(100% - 0px);
 }
 .loggedUsercamera{
    margin: 24px;
    width: 226px;
    height: 144px;
    background: #000000;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    border-radius: 4px;
    transition:  200ms cubic-bezier(0, 0, 0.2, 1);
    cursor: move;
    display: flex;
    left: 0;
    z-index: 12;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
 }
 .camerapersonname{
    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    align-items: center;
    letter-spacing: 0.02em;
    text-align: center;
    position: absolute;
    bottom: 20px;
    color: #FFFFFF;
    
 }
 .updatesize{
     height: 100px;
     width: 683px;
 }
 .minmizescreenfloat{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
 }
 .mainarea{
     width: 100%;
     height: 100%;
 }
 .loggedUsercamera:hover{
    cursor: grab;
 }
 .loggedUsercamera:active{
    cursor: grabbing;
 }


 .splitscreen{
    border-radius: 50%;
    background: rgba(22, 39, 65, 0.75);
    bottom: 0;
    position: absolute;
    width: 35px;
    height: 35px;
    right: 0;
    margin: 7px;
 }
 .unsplit{
    top: 94px;
    border-radius: 50%;
    background: rgba(22, 39, 65, 0.75);
    position: absolute;
    width: 35px;
    height: 35px;
    right: 0;
    margin: 7px;  
 }
 .splitscreen:hover ,.unsplit:hover{
    background: #173b96;
    transition: 0.4s;
 }
.camerasplitinfo{
    width: 50%;
    margin: 0px;
    display: block;
    height: calc(100% - 78px);
    bottom: 0;
    right: 0;
    background: #0C1524;
    position: absolute;
}
.spliticon{
    margin-top: 9px; 
    cursor: pointer;
}
.callarea.mobile {
    display: none;
}
.splitvidepremote{
    width: 50%;
    margin: 0px;
    top: 80px;
    right: 0;
    height: 100vh;
    float: right;
    z-index: 1;
    position: absolute;
    object-fit: cover;
}
.unspplitvideo{
    width: 100%;
    margin: 0px;
    top: 80px;
    height: calc(100% - 80px);
    object-fit: cover;
    right: 0;
    position: absolute;
}
.peercameraon{
    object-fit: revert;

}
.peercameraoff{
    object-fit: cover;
}
.signalindicator{
    position: fixed;
    right: 55px;
    display: inline-block;
    z-index: 1;
}
.sharescreenmsg{
    width: 100%;
    height: 25px;
    background: #425470;
    border-radius: 4px;
    margin: 0 auto;
    top: -30px;
    position: absolute;
    text-align: center;
    display: none;
}
.sharescrntext{
font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 25px;
display: inline-block;
align-items: center;
letter-spacing: 0.02em;

color: #FFFFFF;

}
.sharescreeniconheader{
    display: inline-block;
    margin-right: 14px;
    vertical-align: middle;
}
#localVideo{
    width:226px;
    height:144px
  }
  .miccontrolbtnpanel{
    height: 14px;
    width: 14px;
    background: #1C54DB;
    border-radius: 50%;
    position: absolute;
    right: 200px;
    top: 3px;
    cursor: pointer;
    transition-duration: 0.3s;
    
  }
  .miccontrolbtnpanel:hover{
      background: #173C96 !important;
  }
  .deviceswitcher{
    width: 293px;
    height: 150px;
    background: #2B3A51;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 23%);
    border-radius: 4px;
    margin-bottom: 8px;
   padding: 0px;
   z-index: 1;
  }
  .deviceswitcherpanel{
    background: transparent;
    position: absolute;
    height: fit-content;
    right: 60px;
    bottom: 54px;
    display: none;
  }
  .switcherheaderpanel{
    display: block;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 25%);
  }
  .devicescroll{
    height: 100px;
    overflow-y: auto;
    right: 19px;
    margin-top: 4px;
    bottom: 8px;
    width: calc(100% - 7px);
  }
  .devicescroll::-webkit-scrollbar{
    width: 4px;
    height: 105px;
    background: transparent;
    border-radius: 8px;
    scrollbar-width:thin;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;

}
.devicescroll::-webkit-scrollbar-thumb {
    background: #7A828E;
    border: 0.5px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    border-radius: 6px;
    background-clip: padding-box;
    width: 4px;
    height: 62px;
}
.devicescroll::-webkit-scrollbar-track{
  padding: 18px;
  width: 4px;
}
  .sw_heading_img{
    display: inline-block;
    width: 20px;
    height: 20px;
  }
  .sw_img{
    display: inline-block;
    width: 10px;
    height: 10px; 
  }
  .sw_heading_text{
      display: inline-block;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 125%;
      letter-spacing: 0.02em;
      color: #FFFFFF;
      margin-left: 12px;
  }
  .deviceslist{
    list-style: none;
    height: 105px;
    scroll-behavior: smooth;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    padding: 0px;
    text-align: left;
    width: 100%;
    z-index: 3;

  }
  .deviceslist::-webkit-scrollbar{
      display: none;
  }
  .devicename{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 35px;
    vertical-align: middle;
    margin-left: 12px;
    width: 175px;
    letter-spacing: 0.02em;
    display: inline-block;
    color: #FFFFFF;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .devicename.speaker{
      width: 225px;
  }
.voicelevels{
    display: inline-block;
    width: 65px;
    height: 20px;
    text-align: right;
    line-height: 32px;
    vertical-align: middle;
}
.voicebars{
    width: 4.45px;
    height: 20px;
    background: #3A4559;
    display: inline-block;
    margin-left: 2px;
}
.deviceitem{
    padding-left: 14px;
    cursor: pointer;
    position: relative;
    width: calc(100% - 4px);
}
.deviceitem:hover{
    transition: 0.4s;
    background: #243247;
}
.tooltippanel{
    background: #162741;
    border-radius: 4px;
    width: 280px;
    left: 6px;
    right: 6px;
    position: absolute;
    height: fit-content;
    visibility: hidden;
    bottom: 30px;
    z-index: 2;
}
.tooltiptext{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    height: fit-content;
    display: block;
    text-align: left;
    color: #FFFFFF;
    padding-left: 9px;
    white-space: initial;
    width: 250px;
}
.deviceitem:hover  .tooltippanel {
    visibility: visible;
    z-index: 12;
  }

  .deviceitem:first-child .tooltippanel
  {
   
    z-index: 12;
    bottom: 0;
    top: 30px;
  }

@media (max-width: 768px){
    .deviceswitcher.mobile{
        display: none;
    }
    .deviceswitcher{
        width: 295px;
    }
    .deviceswitcherpanel{
        right: 0px;
        width: 109%;
        z-index: 13;
    }
    .callarea.desktop{
        display: block;
        width: 100%!important;
    }
    .callarea.mobile {
        display: block;
    }
  .unsplit{
    top: 52.5%;
    border-radius: 50%;
    background: rgba(22, 39, 65, 0.75);
    position: absolute;
    width: 35px;
    height: 35px;
    margin: 10px;
  }
  .signalindicator{
      top: 15px;
  }
}