.callinterface{
height: 78px;
width: 100%;
display: block;
background: #162741;
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.23);
padding: 24px;
}
video {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  video#remoteVideo{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
.userinformation{
    display: inline-block;
    width: 50%;
    text-align: left;
}
.minimizeiconpanel{
    display: inline-block;
    width: 50%;   
    text-align: right;
    position: fixed;
    padding-right: 20px;
}
.userimage{
    width: 34px;
    height: 34px;
    border: none;
    border-radius: 50%;
}

.userimagebig{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border: none;
    border-radius: 50%;
    top: 32%;
}
.username{
    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    vertical-align: middle;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    display: inline;
    margin-left: 22px;
    cursor: default;
    
}
.callarea{
    background: #0F1B2F;
    height: calc(100% - 78px);
    text-align: center;
    display: block;
}
.capitalinitials
{
font-family: "Roboto",sans-serif;
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 17px;
display: block;
align-items: center;
text-align: center;
letter-spacing: 0.02em;

color: #FFFFFF;
}
.callcontrolpanel{
    display: block;
    width: 100%;
    height:45px;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    bottom:0px;
}
.callcontrol{
    width: 250px;
    height: 56px;
    background: rgba(22, 39, 65, 0.73);
    box-shadow: 3px 3px 10px rgb(0 0 0 / 23%);
    border-radius: 51px;
    display: inline-block;
    bottom: 42px;
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: center;
    z-index: 2;
    position: relative;
}

.callcontrolicons{
    width: 120px;
    height: 30px;
    display: inline-block;
    text-align: left;
    vertical-align: initial;
}
.callicons{
width: 30px;
height: 30px;
display: inline-flex;
margin-right:15px;
background: #2D3D54;
border: none;
cursor: pointer;
border-radius: 50%;
transition-duration: 0.4s;
}
.callicons img.caIcon:hover{
background: #173b96;
border-radius: 50%;
}
.callicon_drop:hover{
    background: #CC0943;
   
}
.calltime{
    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 31px;
    display: inline-block;
    align-items: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-left: 5px;
    padding-right: 7px;
}
.calltime_drop{
    vertical-align: middle;
    width: 92px;
    height: 30px;
    margin-left: 15px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 35px;
    display: inline-block;
    text-align: right;
    margin-bottom: 22px;
}
.hangicon{
    vertical-align: middle;
    margin-top: 6px;
}
.callicon_drop{
    width: 30px;
    height: 30px;
    background: #FF155A;
    display: block;
    border: none;
    float: left;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.4s;
    
 }
 .dragarea{
    height: calc(100% - 0px);
 }
 .loggedUsercamera{
    margin: 24px;
    width: 226px;
    height: 144px;
    background: #000000;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    border-radius: 4px;
    transition:  200ms cubic-bezier(0, 0, 0.2, 1);
    cursor: move;
    display: flex;
    left: 0;
    z-index: 12;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
 }
 .camerapersonname{
    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    align-items: center;
    letter-spacing: 0.02em;
    text-align: center;
    position: absolute;
    bottom: 20px;
    color: #FFFFFF;
    
 }
 .updatesize{
     height: 100px;
     width: 683px;
 }
 .minmizescreenfloat{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
 }
 .mainarea{
     width: 100%;
     height: 100%;
 }
 .loggedUsercamera:hover{
    cursor: grab;
 }
 .loggedUsercamera:active{
    cursor: grabbing;
 }


 .splitscreen{
    border-radius: 50%;
    background: rgba(22, 39, 65, 0.75);
    bottom: 0;
    position: absolute;
    width: 35px;
    height: 35px;
    right: 0;
    margin: 7px;
 }
 .unsplit{
    top: 94px;
    border-radius: 50%;
    background: rgba(22, 39, 65, 0.75);
    position: absolute;
    width: 35px;
    height: 35px;
    right: 0;
    margin: 7px;  
 }
 .splitscreen:hover ,.unsplit:hover{
    background: #173b96;
    transition: 0.4s;
 }
.camerasplitinfo{
    width: 50%;
    margin: 0px;
    display: block;
    height: calc(100% - 78px);
    bottom: 0;
    right: 0;
    background: #0C1524;
    position: absolute;
}
.spliticon{
    margin-top: 9px; 
    cursor: pointer;
}
.callarea.mobile {
    display: none;
}
.splitvidepremote{
    width: 50%;
    margin: 0px;
    top: 80px;
    right: 0;
    height: 100vh;
    float: right;
    z-index: 1;
    position: absolute;
    object-fit: cover;
}
.unspplitvideo{
    width: 100%;
    margin: 0px;
    top: 80px;
    height: calc(100% - 80px);
    object-fit: cover;
    right: 0;
    position: absolute;
}
.peercameraon{
    object-fit: revert;

}
.peercameraoff{
    object-fit: cover;
}
.signalindicator{
    position: fixed;
    right: 55px;
    display: inline-block;
    z-index: 1;
}
.sharescreenmsg{
    width: 308px;
    height: 35px;
    background: rgba(118, 203, 9, 0.9);
    border-radius: 19px;
    margin: 0 auto;
    bottom: 74px;
    position: absolute;
    text-align: center;
    display: none;
    left: 36px;
}
.sharescrntext{
font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 34px;
display: block;
align-items: center;
letter-spacing: 0.02em;

color: #162741;

}
@media (max-width: 768px){
    .callarea.desktop{
        display: block;
        width: 100%!important;
    }
    .callarea.mobile {
        display: block;
    }
  .unsplit{
    top: 52.5%;
    border-radius: 50%;
    background: rgba(22, 39, 65, 0.75);
    position: absolute;
    width: 35px;
    height: 35px;
    margin: 7px;
  }
}