.callinterface{
height: 78px;
width: 100%;
display: block;
background: #162741;
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.23);
padding: 24px;
}
.userinformation{
    display: inline-block;
    width: 50%;
    text-align: left;
}
.minimizeiconpanel{
    display: inline-block;
    width: 50%;   
    text-align: right;
}
.userimage{
    display: inline-flex;
    width: 34px;
    height: 34px;
    border: none;
    border-radius: 50%;
}
.userimagebig{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border: none;
    border-radius: 50%;
    top: 32%;
    position: relative;
}
.username{
    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    vertical-align: middle;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    display: inline-block;
    margin-left: 22px;
    
}
.callarea{
background: #0E1D35;
height: 100%;
text-align: center;
display: block;

}
.capitalinitials
{
font-family: "Roboto",sans-serif;
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 17px;
display: block;
align-items: center;
text-align: center;
letter-spacing: 0.02em;

color: #FFFFFF;
}
.callcontrolpanel{
    display: block;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    bottom:21px;
}
.callcontrol{
width: 317px;
height: 76px;
background: rgba(22, 39, 65, 0.73);
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.23);
border-radius: 51px;
display: inline-block;
bottom: 42px;
padding: 20px;
text-align: left;
}
.callcontrolicons{
    width: 60%;
    display: inline-block;
    vertical-align: middle;
}
.callicons{
width: 35px;
height: 35px;
background: #1C54DB;
display: inline-block;
margin-right: 17px;
border: none;
cursor: pointer;
border-radius: 50%;
line-height: 20px;
}
.calltime{
    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 36px;
    display: inline-block;
    align-items: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-left: 14px;
}
.calltime_drop{
vertical-align: middle;
width: 107px;
height: 35px;
background: rgba(255, 255, 255, 0.1);
border-radius: 35px;
display: inline-block;
}
.callicon_drop{
    width: 35px;
    height: 35px;
    background: #FF155A;
    display: inline-flex;
    border: none;
    float: right;
    border-radius: 50%;
    cursor: pointer;
    padding-left: 4px;
    padding-right: 4px;
 }
 .loggedUsercamera{
    margin: 24px;
    width: 226px;
    height: 144px;
    background: #000000;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    border-radius: 4px;
    transition:  200ms cubic-bezier(0, 0, 0.2, 1);
    cursor: move;
    display: flex;
    z-index: 12;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
 }
 .camerapersonname{
    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    align-items: center;
    letter-spacing: 0.02em;
    text-align: center;
    position: absolute;
    bottom: 20px;
    color: #FFFFFF;
    
 }