.tableWrap {
    padding: 0 30px;
}

.userImage {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: inherit;
}

.agentPic {
    vertical-align: inherit;
}

.utilities {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    margin-left: 10px;
}

.utilities:first-child {
    margin-left: 0px;
}



table tbody tr {
    transition: 0.5s;
}

td:first-child {
    text-align: left;
}

td:first-child span {
    margin-right: 18px;
}

td:last-child,
th:last-child {
    padding-right: 46px;
}

table {
    width: 100%;
    border-bottom: 1px solid #E3E3EB;
    border-left: 1px solid #E3E3EB;
    border-right: 1px solid #E3E3EB;
    box-sizing: border-box;
    background: white;
    border-collapse: collapse;
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-style: hidden;
    box-shadow: 0 0 0 1px rgba(208, 208, 222, 0.6);
    overflow: hidden;
}

table tbody tr {
    transition: 0.5s;
}

td:first-child {
    text-align: left;
}

td:first-child span {
    margin-right: 18px;
}

td:last-child,
th:last-child {
    padding-right: 46px;
}

th {
    font-size: 12px;
    color: #162741a3;
    font-family: 'Robot', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
}

td {
    cursor: pointer;
    color: #162741;
    font-size: 12px;
    font-family: 'Robot', sans-serif;

}

thead tr {
    height: 50px;
    max-height: 50px;
    background: white;
    font-size: 16px;
    border-bottom: 1px solid #E3E3EB;

}

tbody tr {
    height: 50px;
    max-height: 50px;
    border: 0 none;
    border-bottom: 1px solid #E3E3EB;


    &:last-child {
        border: 0;
    }
}

table tbody tr:nth-child(odd) {
    background: #FAFAFD;
}

table tbody tr:nth-child(even) {
    background: white;

}

td,
th {
    text-align: left;

    &.l {
        text-align: right;
    }

    &.c {
        text-align: center;
    }

    &.r {
        text-align: center;
    }
}

.checkedTr {
    background: #ededf6 !important;
}

table thead tr th div.editHeader {
    transition: 0.4s;
    align-items: center;
    height: 32px;
    display: inline-flex;
    width: calc(100% - 20px);
}


table thead tr th div img {
    width: 14px;
    height: 17px;
}


table thead tr th:hover div {
    align-items: center;
    visibility: visible;
    cursor: pointer;
}


.editHeader:hover {
    background: #D8D8F5;
    padding-left: 12px;
    background: #F0F0F5;
    border-radius: 4px;
    width: fit-content;
}

table thead tr th:nth-child(5) div {
    display: none;
}

table thead tr th:nth-child(1) {
    padding-left: 55px;
}

table thead tr th:nth-child(2) {
    padding-left: 40px;
}

table tr td:nth-child(1) {
    font-size: 12px;
    text-align: left;
    border-bottom: none;
    padding-left: 24px;
}

table tr td:nth-child(1) span.editIcon {
    width: 10px;
    height: 10px;
}

table tr td:nth-child(1) span.editIcon img {
    width: 9.5px;
    height: 10px;
}

table tr td:nth-child(2),
table tr td:nth-child(4) {
    color: #445167;
}

table tr td:nth-child(2) img {
    vertical-align: inherit;
    margin-right: 20px;
    height: 15px;
    width: 15px;
}

table tr td:nth-child(1) span div.onlineIcon {
    width: 7px;
    height: 7px;
    left: 24px;
    top: 14px;
    border-radius: 50px;
    position: absolute;
}

table tr td:nth-child(1) span.agentImage {
    vertical-align: inherit;
    position: relative;
}

table tr td:nth-child(1) span img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}


table tr td:nth-child(3) span {
    align-items: center;
    letter-spacing: 0.02em;
    color: #949CA8;
}



table tr th:nth-child(1) {
    font-size: 12px;
    text-align: left;
    border-bottom: none;
    color: #737D8D;
    padding-left: 24px;
}

table tr th:nth-child(5) {

    text-align: right;
    padding-right: 0px;

}

table tbody tr td:nth-child(5) img {

    text-align: right;
    padding-right: 0px;

}

table tbody tr td:nth-child(1) {
    text-align: left;
    vertical-align: inherit;
    padding-left: 26px;
}

table tbody tr:hover {
    background: #EDEDF6;
}

table tbody tr td:nth-child(1) img {
    text-align: left;
    display: inline-block;

}



table tbody tr td:nth-child(1) div {
    text-align: left;
    display: inline-block;
    vertical-align: inherit;
}

table tbody tr td:nth-child(1) div span:first-child {
    font-weight: 600;
}

table tbody tr td:nth-child(1) div span {
    text-align: left;
    display: block;
    line-height: 16px;
    color: #445167;
}

table tbody tr td:nth-child(5) div {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    position: relative;
    float: right;
    transition: 0.5s;
}

table tbody tr td:nth-child(5) div:hover {
    background: #D8D8F5;
}

table tbody tr td:nth-child(4) span {
    vertical-align: bottom;
}

table tbody tr td:nth-child(4) span img {
    vertical-align: inherit;
    margin-left: 10px;
}

table tbody tr td:nth-child(5) div img {
    margin: 9px;
}