.createTicketWrapper {
    height: calc(100vh - 127px);
    background: #FAFAFD;
    padding: 30px 30px 30px 30px;
    width: calc(100% - 60px);
    display: flex;
}

.headingWrapper {
    display: flex;
    justify-content: space-between;
}

.ticketsArea {
    background: #FFFFFF;
    border: 1px solid #E1E1EA;
    border-radius: 4px;
    padding: 30px;
    width: 100%;
    position: relative;
}

.ticketNumberWrapper {
    display: inline-flex;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    align-items: flex-start;
    height: fit-content;
    text-align: right;
    letter-spacing: 0.02em;
    color: #162741;
}



:host ::ng-deep .headerWrap {
    border-bottom: none;
}

.textLabel {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 180%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    margin-bottom: 12px;
    color: #6A7585;
}

.assignText {
    width: 538px;
    height: 33px;
    padding: 0px;
    margin: 0px;
    background: #FFFFFF;
    border: 1px solid #E1E1EA;
    border-radius: 4px;
    display: flex;
    padding-left: 12px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #7D8696;
}

.assigningArea {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
}

.setPriority {
    display: flex;
    width: 100%;
}

.multiSelectWrapper {
    width: 260px;
    margin-right: 10px;
    position: relative;
}

.filterArrow {
    margin-left: 10px;
    transition: 0.4s;
}

.filterArrowRotate {
    transform: rotate(180deg);
    transition: all 0.3s;
}

.calendarLocationLanguage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 11px;
    background: #ffffff;
    border: 1px solid rgba(208, 208, 222, 0.6);
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}

::ng-deep .calendarLocationLanguage .md-drppicker {
    right: 0 !important;
    top: 120% !important;
    left: 0 !important;
    width: max-content !important;
}

::ng-deep .calendarLocationLanguage .md-drppicker .ranges {
    height: 371px;
}

.calendarSelectMenu {
    height: 34px;
    width: 100%;
    cursor: pointer;

    input {
        cursor: pointer;
        border: none;
        width: 100%;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 160%;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        color: #162741cc;
    }
}

.multiSelectWrapper.assignee {
    background: #FFFFFF;
    border: 1px solid #E1E1EA;
    border-radius: 4px;
    width: 260px;
    height: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 0px;
}

.multiSelectWrapper.status {
    width: 260px;
}

.textFeild {
    width: 260px;
    margin-right: 30px;
    height: 85px;

}

.assignAgentWrapper {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    padding-left: 10px;
    color: #162741;
    cursor: pointer;
}

::ng-deep .assignAgentWrapper.create .assignWrapper {
    width: 259px !important;
    left: 0;
    top: 40px;
}

::ng-deep .dropdown {
    z-index: 1;
}

.buttonsWrapper {
    width: calc(100% - 60px);
    display: flex;
    height: 60px;
    border-top: 1px solid #E3E3EB;
    align-items: flex-end;
    margin-top: 20px;
    position: absolute;
    bottom: 30px;
    justify-content: space-between;
}