// @import '~ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.cdk-overlay-container {
  z-index: 1000;
}

.toastClass {
  font-size: 12px;
  line-height: 40px;
  display: inline-block;
}

.cdk-global-overlay-wrapper {
  height: 100%;
  width: 100%;
  display: grid;
}


.dialog-panel {
  background: transparent;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.23);
  border-radius: 0px !important;
  opacity: 1;
  width: 100%;
  height: 100%;
  padding: 0px !important;
  overflow-x: hidden;
  overflow-y: hidden;
  display: contents;
  vertical-align: middle;
}

.imagePopup {
  width: 594px;
  height: 355px;
  background: #FFFFFF;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
}

.modal {
  padding: 24px;
}

::ng-deep .mainHeaderWrap .headerWrap {
  border: none;
}

.headerWrap .pageTitleWrap .pageTitle {
  font-weight: 500;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  // font-size: 100%;
  font-family: 'Roboto', sans-serif;
}

.toast-success {
  background-image: url('../src/assets/images/toastrMessage/saved_icon.svg') !important;
}

.toast-warning {
  background-image: url('../src/assets/images/toastrMessage/error_icon.svg') !important;
}

.toast-message {
  word-wrap: break-word;
  line-height: 10px;
}

.toast-container .ngx-toastr {
  box-shadow: none;
}

.toast-container .ngx-toastr:hover {
  box-shadow: none;
}

.ngx-toastr.toast-success>button.toast-close-button[aria-label='Close'] {
  color: #1c54db;
  padding: 15px;
}

.ngx-toastr.toast-success>button.toast-close-button[aria-label='Close']:hover {
  color: #1c54db;
}

.ngx-toastr.toast-warning>button.toast-close-button[aria-label='Close'] {
  color: #ff155a;
  padding: 15px;
}

.ngx-toastr.toast-warning button.toast-close-button[aria-label='Close']:hover {
  color: #ff155a;
}

#toast-container {
  padding-right: 100px;
  width: fit-content;
  transition: 0.4s;
  width: fit-content;
}

#toast-container>.toast-success {
  background-color: #dee8ff;
  color: #1c54db;
  border-radius: 4px;
  height: 40px;
  border: 1px solid rgba(28, 84, 219, 0.4);
  padding: 0px;
  padding-left: 45px;
  width: fit-content;
  box-shadow: none;
}

/* #toast-container.toast-bottom-right
{
  transform: translateX(0%);
  transition: 0.4s;
} */
#toast-container>.toast-warning {
  background-color: #fedee8;
  color: #ff155a;
  border: 1px solid rgba(255, 21, 90, 0.4);
  border-radius: 4px;
  height: 40px;
  padding: 0px;
  padding-left: 45px;
  width: fit-content;
  box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
}

input {
  outline: none;
}

// For Desktops
@media only screen and (max-width: 1200px) and (min-width: 769px) {
  body {
    font-size: 80%;
  }
}

// For Ipads,Tablets
@media only screen and (max-width: 768px) {
  body {
    font-size: 80%;
  }
}

// For Mobile Phones
@media only screen and (max-width: 480px) {
  body {
    font-size: 60%;
  }
}