.ShareScreenWrapper {
  width: 100%;
  height: 25px;
  background: #425470;
  border-radius: 4px;
  margin: 0 auto;
  top: -30px;
  position: initial;
  text-align: center;
  display: flex;
  justify-content: center;
}

.ShareScreenMessage {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 25px;
  display: inline-flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.shareScreenIcon {
  display: inline-flex;
  margin: 4px 15px 6px 0px;
  vertical-align: middle;
  height: 14px;
  width: 13px;
}