.heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #162741;
}

// .heading.settings {
//     margin-bottom: 20px;
// }

.smallHeading.settings {
    margin-bottom: 20px;
    margin-top: 20px;
}

.smallHeading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #162741;
}

.smallHeading.theme {
    margin-top: 30px;
}

.themeWrapper {
    background: #FFFFFF;
    border: 1px solid #E3E3EB;
    border-radius: 4px 4px 0px 0px;
    display: flex;
    height: 50.6px;
    margin-top: 15px;
}

.themeHeading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: inline-flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #162741;
    width: 50%;
    padding-left: 15px;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #6A7585;
    margin-bottom: 20px;
}

.timerSetting {
    display: flex;
    width: 100%;
}

.sperator {
    display: inline-flex;
    align-content: center;
    flex-wrap: wrap;
    height: 35px;
    margin-right: 12px;
    margin-left: 12px;
}

.timerText {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #6A7585;
    background: #FFFFFF;
    border: 1px solid #E3E3EB;
    border-radius: 0px 4px 4px 0px;
    border-left-width: 0px;
    padding: 0px 8px 0px 8px;
}

input {
    width: 26px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #E3E3EB;
    border-radius: 4px 0px 0px 4px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #162741;
    padding: 0px;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.multiSelectWrapper {
    max-width: 240px;
    display: inline-block;
    vertical-align: middle;
    min-width: 240px;
}

.tickerWrapper {
    display: flex;
}