<div class="chatConsoleWrapper">
    <app-chat-header></app-chat-header>

    <div class="chatArea">
        <div class="threadArea">
            <app-chat-thead-item></app-chat-thead-item>
        </div>
        <div class="readingArea" (scrollClass)="'.readingArea'" arrowDowm (showScrollDown)="showScrollDown($event)"
            #scrollMe>
            <div class=" chatReaderWrapper">
                <app-chat-wrapper #showScrollButton></app-chat-wrapper>
            </div>
            <div class="typingArea">
                <app-chattext-area #textAreaComponent></app-chattext-area>
            </div>
            <div class="scrollBottom" *ngIf="showScrollArrow" (click)="scrollToBottom()">
                <img src="../../../assets/images/chatInterface/scroll_arrow.svg" alt="">
            </div>
        </div>
    </div>
</div>