<div class="chatConsoleWrapper">
    <app-chat-header></app-chat-header>

    <div class="chatArea">
        <div class="threadArea">
            <app-chat-threads>
            </app-chat-threads>
        </div>

        <div class="readingArea">
            <div class="chatReaderWrapper">
                <app-chat-wrapper></app-chat-wrapper>
            </div>
            <div class="typingArea">
                <app-chattext-area></app-chattext-area>
            </div>
        </div>
    </div>
</div>