<div class="chatConsoleWrapper">
    <app-chat-header></app-chat-header>

    <div class="chatArea">
        <div class="threadArea">
            <app-chat-thead-item></app-chat-thead-item>
        </div>
        <div class="readingArea" (showScrollDown)="showScrollDown($event)">
            <div class="chatReaderWrapper">
                <app-chat-wrapper #showScrollButton></app-chat-wrapper>
            </div>
            <div class="typingArea">
                <app-chattext-area></app-chattext-area>
            </div>
        </div>
    </div>
</div>