.chatConsoleWrapper {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.chatArea {
    position: relative;
    overflow: hidden;
    height: 100vh;
    display: flex;
    padding: 16px;
    background: linear-gradient(127.72deg, rgba(213, 213, 224, 0.76) 3.76%, rgba(232, 241, 255, 0.76) 98.38%);
}

.threadArea {
    display: inline-flex;
    height: calc(100vh - 115px);
}

.readingArea {
    position: relative;
    display: inline-flex;
    width: calc(100% - 350px);
    height: calc(100vh - 205px);
    padding: 0px 0px 0px 16px;
    overflow-y: overlay;
}

.readingArea::-webkit-scrollbar {
    background: rgba(215, 223, 239, 0.62);
    border-radius: 4px;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #97A7C0;
    border-radius: 8px;
    width: 8px;
}

.typingArea {
    width: calc(100% - 200px);
    height: fit-content;
    position: fixed;
    bottom: 24px;
}

.chatReaderWrapper {
    position: relative;
    display: flex;
    width: 100%;
    height: calc(100vh - 210px);
}