.chatConsoleWrapper {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.chatArea {
    position: relative;
    overflow: hidden;
    height: 100vh;
    display: flex;
    padding: 16px;
    background: linear-gradient(127.72deg, rgba(213, 213, 224, 0.76) 3.76%, rgba(232, 241, 255, 0.76) 98.38%);
}

.threadArea {
    display: inline-flex;
    height: calc(100vh - 115px);
}

.readingArea {
    position: relative;
    display: inline-flex;
    width: calc(100% - 360px);
    height: calc(100vh - 115px);
    padding: 0px 0px 0px 16px;
}

.typingArea {
    width: fit-content;
    display: flex;
}

.chatReaderWrapper {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100vh;
}