.callsHeader {
  width: 100%;
  height: 76px;
  display: flex;
  background: #162741;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.23);
}

.UserInformationPanel {
  width: 50%;
  display: flex;
}

.utilitiesPanel {
  width: 50%;
  text-align: right;
}

.headerImage {
  display: inline-flex;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin: 21px 30px 21px 30px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.userName {
  display: inline-flex;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  align-items: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.userImage {
  border-radius: 50%;
}

.MinimizeInconPanel {
  padding: 18px 15px 18px 0px;
  width: fit-content;
  display: inline-flex;
  vertical-align: text-bottom;
  cursor: pointer;
}

.MinimizeInconPanel svg {
  height: 10px;
}

.internetQuality {
  display: inline-flex;
  width: fit-content;
  padding: 31px 21px 30px 30px;
  vertical-align: super;
}

.callsHeaderMobileTimer {
  color: white;
  font-size: 12px;
  line-height: 50px;
  display: none;
  vertical-align: top;
}

// For Mobile Phones
@media only screen and (max-width: 480px) {
  .callsHeader {
    height: 49px !important;
  }

  .callsHeaderMobileTimer {
    display: inline-flex;
  }

  .MinimizeInconPanel {
    padding: 18px 15px 15px 0px;
  }

  .userName {
    font-size: 12px !important;
  }

  .headerImage {
    margin: 8px 12px !important;
  }

  .internetQuality {
    padding: 18px 12px 12px 12px !important;
  }
}