<div class="nonComplientwrapper">
  <div style="text-align: center">
    <img src="../../../assets/images/sidebar/workdesk_logo_dark_short.svg" alt="" />
  </div>
  <div style="margin-top: 24px">
    <p class="headerLine">Couldn't find your gigaaa Account.</p>
    <p class="description" style="margin-top: 12px">
      Please contact your account administrator and <br />
      request another invite.
    </p>
  </div>
  <div class="actionButtonPanel">
    <button class="cancel" (click)="closeNonComplientAccountPopup()">
      Cancel
    </button>
  </div>
</div>
