<div class="threadItemPanel" *ngFor="let thread of this.chatData">
    <div class="thread">
        <div class="userImage">
            <img [src]="thread.image" alt="">
        </div>
        <div class="informationWrapper">
            <div class="userDetailsLast">
                <div class="userName">
                    {{thread.name}}
                </div>
                <div class="timer">
                    {{thread.date}}
                </div>
            </div>
            <div class="userMessageDetails">
                <div class="lastMessage">
                    {{thread.last_message}}
                </div>
                <div class="counerWrapper">
                    <div class="counter" *ngIf="thread.counter!==null">
                        {{thread.counter}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>