.threadItemPanel {
    padding: 11px;
    width: calc(100% - 22px);
    height: 58px;
}

.userImage {
    width: 40px;
    height: 40px;
    display: inline-flex;
    border-radius: 50%;
}

.userImage img {
    border-radius: 50%;
}

.userDetailsLast {
    height: 22px;
    display: inline-flex;
    width: calc(110% - 40px);
    margin-left: 12px;
}

.userName {
    display: inline-flex;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    height: 22px;
    width: 50%;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #162741;
}

.counter {
    background: #162741;
    border-radius: 12px;
    width: 15px;
    height: 15px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 11px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.informationWrapper {
    display: block;
    align-items: center;
    width: 100%;
}

.userMessageDetails {
    display: inline-flex;
    width: calc(100% - 14px);
    justify-content: space-between;
    margin-left: 12px;
}

.timer {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    display: flex;
    width: 50%;
    height: 22px;
    align-items: center;
    text-align: right;
    letter-spacing: 0.02em;
    color: #737C8A;
    justify-content: flex-end;
}

.lastMessage {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    align-items: center;
    letter-spacing: 0.02em;
    color: #162741;
    width: 165px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.thread {
    padding: 14px;
    align-items: center;
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: 0.4s;
    cursor: pointer;
    border: 1px solid transparent;
}

.thread:hover {
    background: rgba(255, 255, 255, 0.33);
    border: 1px solid rgba(255, 255, 255, 0.9);
    box-shadow: 2px 2px 10px rgba(133, 133, 171, 0.23);
}

.selectedThread {
    background: rgba(255, 255, 255, 0.33);
    border: 1px solid rgba(255, 255, 255, 0.9);
    box-shadow: 2px 2px 10px rgba(133, 133, 171, 0.23);
    transition: 0.4s;
}

.counerWrapper {
    display: inline-flex;
    width: 30%;
    justify-content: right;
}